#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1






# shared library versions, option 1
version=2.0.5
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	cd js/src ; \
	JS_THREADSAFE=1 INCLUDES=-I/usr/include/nspr OTHER_LIBS=-L/usr/lib $(MAKE) -f Makefile.ref ; \
	$(MAKE) -f Makefile.ref export 

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/usr/lib
	mkdir -p $(CURDIR)/debian/tmp/usr/bin

ifeq (amd64,$(DEB_BUILD_ARCH))
	cd dist/ ; \
	cp lib64/* $(CURDIR)/debian/tmp/usr/lib/ ; \
	mkdir -p $(CURDIR)/debian/tmp/usr/include/js ; \
	cp include/* $(CURDIR)/debian/tmp/usr/include/js/ ; \
	cp bin/* $(CURDIR)/debian/tmp/usr/bin/
else
	cd dist/ ; \
	cp lib/* $(CURDIR)/debian/tmp/usr/lib/ ; \
	mkdir -p $(CURDIR)/debian/tmp/usr/include/js ; \
	cp include/* $(CURDIR)/debian/tmp/usr/include/js/ ; \
	cp bin/* $(CURDIR)/debian/tmp/usr/bin/
endif

	# install missing header
	cp js/src/jsutil.h $(CURDIR)/debian/tmp/usr/include/js/


# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --fail-missing --sourcedir=$(CURDIR)/debian/tmp
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
