#!/usr/bin/make -f
CFLAGS = -Wall -g
%:
	dh $@

override_dh_auto_configure:
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --datadir=\$${prefix}/share/games --bindir=\$${prefix}/games --libexecdir=\$${prefix}/games --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --enable-allinone --disable-mod-csound CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS) -Wl,--as-needed"

override_dh_auto_build:
	dh_auto_build
	cd doc; $(MAKE) liquidwar6.html

override_dh_auto_test:

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	rm -f debian/tmp/usr/games/liquid*-test
	mv debian/tmp/usr/share/games/pixmaps debian/tmp/usr/share/pixmaps

override_dh_install:
	dh_install --sourcedir=debian/tmp
