#!/usr/bin/make -f
%:
	dh $@ --parallel --buildsystem cmake

override_dh_auto_clean:
	dh_auto_clean

	if [ -f Makefile ]; then make clean; fi
	rm -rf clobber.sh config.h doxygen_config install_manifest.txt xmlversion_loc.txt CMakeFiles CMakeCache.txt Makefile *.cmake
	rm -f src/drivers/simplix/simplix_sc.so src/drivers/usr/usr_sc.so

override_dh_auto_configure:
	dh_auto_configure -- -DOPTION_OFFICIAL_ONLY:BOOL=ON

override_dh_install:
	dh_install --list-missing
	rm -f debian/speed-dreams-base-data/usr/share/games/speed-dreams-2/COPYING.txt
	[ ! -d debian/speed-dreams-base/usr/lib64 ] || mv debian/speed-dreams-base/usr/lib64 debian/speed-dreams-base/usr/lib
	[ ! -d debian/speed-dreams-base/usr/lib32 ] || mv debian/speed-dreams-base/usr/lib32 debian/speed-dreams-base/usr/lib
	chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/simplix_sc/simplix_sc.so
	chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/usr_sc/usr_sc.so

	#chrpath -d debian/speed-dreams-base/usr/games/sd2-accc
	#chrpath -d debian/speed-dreams-base/usr/games/sd2-menuview
	#chrpath -d debian/speed-dreams-base/usr/games/sd2-nfs2ac
	#chrpath -d debian/speed-dreams-base/usr/games/sd2-nfsperf
	#chrpath -d debian/speed-dreams-base/usr/games/sd2-trackgen
	#chrpath -d debian/speed-dreams-base/usr/games/speed-dreams-2
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/human/human.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/kilo2008/kilo2008.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/simplix/simplix.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/drivers/usr/usr.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/liblearning.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libnetworking.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libraceengine.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/librobottools.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libtgf.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libtgfclient.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libtgfdata.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/lib/libtxml.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/graphic/ssggraph.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/simu/simuv2.1.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/telemetry/telemetry.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/track/track.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/userinterface/legacymenu.so
	#chrpath -d debian/speed-dreams-base/usr/lib/games/speed-dreams-2/modules/userinterface/textonly.so
