#!/usr/bin/make -f
# -*- makefile -*-

# location of datafiles
DATADIR=/usr/share/games/trigger-rally
# what manpages to build?
MANPAGES=debian/trigger-rally.6

%:
	dh $@ --parallel

# rule to build manpages
$(MANPAGES): $(addsuffix .sgml,$(MANPAGES))
	docbook-to-man $< > $@

override_dh_auto_build:
	mkdir -p bin
	dh_auto_build -Dsrc -- prefix=/usr DESTDIR=$(CURDIR)/debian/trigger-rally/

override_dh_installman: $(MANPAGES)
	dh_installman $(MANPAGES)

override_dh_auto_clean:
	rm -rf bin
	dh_auto_clean -Dsrc


