#!/usr/bin/make -f
%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	intltoolize
	dh_auto_configure

# somehow fails on the build server
override_dh_auto_test:

override_dh_install:
	dh_install --list-missing
