Source: battleship
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               intltool (>= 0.35.0),
               pkg-config,
               libgtk2.0-dev (>= 2.8),
               libcanberra-gtk-dev
Standards-Version: 3.9.3
Homepage: https://launchpad.net/battleship

Package: battleship
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Classic Battleship Game
 You play versus a computer controlled opponent.
 Instead of firing blindly you get hints about the ships' positions.
