Source: dolphin-emu
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Original-Maintainer: Glenn Rice <glennricster@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake,
               libao-dev,
               libasound2-dev,
               libavcodec-dev,
               libavformat-dev,
               libbluetooth-dev,
               libglew-dev,
               libgtk2.0-dev,
               liblzo2-dev,
               libopenal-dev,
               libpulse-dev,
               libreadline-dev,
               libsdl1.2-dev,
               libsfml-dev (>= 1.6),
               libsoil-dev,
               libswscale-dev,
               libwxbase2.8-dev,
               libwxgtk2.8-dev,
               libxext-dev,
               libxrandr-dev,
               nvidia-cg-toolkit,
               pkg-config,
               portaudio19-dev,
               wx2.8-headers,
               zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://dolphin-emu.org/

Package: dolphin-emu
Architecture: any
Depends: nvidia-cg-toolkit (>= 2.2),
         ${shlibs:Depends},
         ${misc:Depends},
         dolphin-emu-data (= ${source:Version})
Description: Gamecube, Wii and Triforce emulator
 Dolphin is a Gamecube and Wii emulator. Most games run
 perfectly or with minor bugs. Games are playable at HD
 quality, up to 1080p. This is a remarkable feature the
 actual Gamecube and Wii consoles are not capable of. As an
 open source project everyone can commit improvements. The
 code is hosted on code.google.com. Dolphin is actively
 developed and almost every day new features are added
 and bugs fixed as well.

Package: dolphin-emu-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         dolphin-emu (= ${binary:Version})
Description: Gamecube, Wii and Triforce emulator (debugging symbols)
 Dolphin is a Gamecube and Wii emulator. Most games run
 perfectly or with minor bugs. Games are playable at HD
 quality, up to 1080p. This is a remarkable feature the
 actual Gamecube and Wii consoles are not capable of. As an
 open source project everyone can commit improvements. The
 code is hosted on code.google.com. Dolphin is actively
 developed and almost every day new features are added
 and bugs fixed as well.
 .
 (This package contains the debugging symbols)

Package: dolphin-emu-data
Architecture: all
Depends: ${misc:Depends}
Description: Gamecube, Wii and Triforce emulator (data package)
 Dolphin is a Gamecube and Wii emulator. Most games run
 perfectly or with minor bugs. Games are playable at HD
 quality, up to 1080p. This is a remarkable feature the
 actual Gamecube and Wii consoles are not capable of. As an
 open source project everyone can commit improvements. The
 code is hosted on code.google.com. Dolphin is actively
 developed and almost every day new features are added
 and bugs fixed as well.
 .
 (This package contains the data files)
