#!/usr/bin/make -f
%:
	dh $@ --parallel

#DOLPHIN_WC_REVISION=git rev-parse HEAD
#DOLPHIN_WC_DESCRIBE=git describe --always --long --dirty (remove hash)
#DOLPHIN_WC_BRANCH=git rev-parse --abbrev-ref HEAD

CMAKE_OPTIONS =						\
	-DDOLPHIN_WC_REVISION=35d1599724a4c41d0c93e4cbf05ba109feaa969c			\
	-DDOLPHIN_WC_DESCRIBE=4.0-0			\
	-DDOLPHIN_WC_BRANCH=4.0				\
	-Dbindir=/usr/games				\
	-Ddatadir=/usr/share/games/dolphin-emu		\
	-DCMAKE_INSTALL_PREFIX=/usr			\
	-DCMAKE_BUILD_TYPE=Release

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_OPTIONS)

override_dh_auto_install:
	dh_auto_install
	find $(CURDIR)/debian/tmp -type d -empty -delete
	rm debian/tmp/usr/lib/libpolarssl.a

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=dolphin-emu-dbg
