Source: caph
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50),
 libpng12-dev, mesa-common-dev, libsdl1.2-dev,
 pkg-config, quilt
Standards-Version: 3.8.4
Homepage: http://caphgame.sourceforge.net

Package: caph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sandbox game, based on physics
 It is a sandbox game, based on physics. The game target is
 to make contact red object with green object. You can use
 various objects, solid, wire (rope), and bendable objects.
 Gravitation will help you.
