Source: opensonic
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), cmake,
 liballeg4.4-dev, libvorbis-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://opensnc.sourceforge.net

Package: opensonic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open-source game based on the "Sonic the Hedgehog" universe
 Open Sonic is a free open-source game based on the
 "Sonic the Hedgehog" universe. It introduces a different
 style of gameplay called cooperative play, in which it's
 possible to control 3 characters simultaneously. Unlike
 most similar games, Open Sonic provides a greater level
 of interaction between the player and the levels. It's
 more than just a jump'n'run; the user must come up with
 some strategy in order to get through the levels.

Package: opensonic-dbg
Section: debug
Priority: extra
Architecture: any
Depends: opensonic (= ${binary:Version}), ${misc:Depends}
Description: Open-source game based on the "Sonic the Hedgehog" universe (debugging symbols)
 Open Sonic is a free open-source game based on the
 "Sonic the Hedgehog" universe. It introduces a different
 style of gameplay called cooperative play, in which it's
 possible to control 3 characters simultaneously. Unlike
 most similar games, Open Sonic provides a greater level
 of interaction between the player and the levels. It's
 more than just a jump'n'run; the user must come up with
 some strategy in order to get through the levels.
 .
 (This package contains the debugging symbols)
