Source: dhewm3
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libjpeg-dev,
               libogg-dev,
               libopenal-dev,
               libvorbis-dev,
               libsdl1.2-dev,
               libsdl2-dev,
               zlib1g-dev,
               libcurl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/dhewm/dhewm3

Package: dhewm3
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libdhewm3-0 (= ${binary:Version}),
         zenity
Description: Doom 3 engine
 The goal of dhewm 3 is to bring DOOM 3 with the help of
 SDL to all suitable plaforms.
 .
 Compared to the original DOOM 3, the changes of dhewm 3
 worth mentioning are:
 .
  - 64bit port
  - SDL for low level OS support, OpenGL and input handling
  - OpenAL for audio output, all OS specific audio backends are gone
  - OpenAL EFX for EAX reverb effects (read: EAX on all platforms)
  - A portable build system based on CMake
  - (Cross-)compilation with mingw-w64
 .
 This source release does not contain any game data, the game
 data is still covered by the original EULA and must be obeyed as usual.
 .
 Put the base/ directory into the $HOME/.local/share/dhewm3 directory.

Package: dhewm3-dedicated
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libdhewm3-0 (= ${binary:Version})
Description: Doom 3 engine - dedicated server
 The goal of dhewm 3 is to bring DOOM 3 with the help of
 SDL to all suitable plaforms.
 .
 Compared to the original DOOM 3, the changes of dhewm 3
 worth mentioning are:
 .
  - 64bit port
  - SDL for low level OS support, OpenGL and input handling
  - OpenAL for audio output, all OS specific audio backends are gone
  - OpenAL EFX for EAX reverb effects (read: EAX on all platforms)
  - A portable build system based on CMake
  - (Cross-)compilation with mingw-w64
 .
 This source release does not contain any game data, the game
 data is still covered by the original EULA and must be obeyed as usual.
 .
 (This package contains the dedicated server).

Package: libdhewm3-0
Architecture: any
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: dhewm3,
            dhewm3-dedicated
Description: Doom 3 engine - runtime files
 The goal of dhewm 3 is to bring DOOM 3 with the help of
 SDL to all suitable plaforms.
 .
 Compared to the original DOOM 3, the changes of dhewm 3
 worth mentioning are:
 .
  - 64bit port
  - SDL for low level OS support, OpenGL and input handling
  - OpenAL for audio output, all OS specific audio backends are gone
  - OpenAL EFX for EAX reverb effects (read: EAX on all platforms)
  - A portable build system based on CMake
  - (Cross-)compilation with mingw-w64
 .
 This source release does not contain any game data, the game
 data is still covered by the original EULA and must be obeyed as usual.
 .
 (This package contains the runtime libraries).
