Source: scndgen
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               default-jdk,
               javahelper,
               fastjar,
               libjlayer-java
Standards-Version: 3.9.3
Homepage: http://scndgen.sourceforge.net

Package: scndgen
Architecture: all
Depends: ${misc:Depends},
         ${java:Depends},
         libmysql-java,
         libjinput-java,
         openjdk-6-jre | sun-java6-jre,
         fontconfig
Description: Fighting game bases on webcomic
 THE SCND GENESIS: Legends is a fighting game based
 on the webcomic THE SCND GENESIS.
 The battle system is a hybrid of turn based RPG's
 and conventional 2D Fighters.
 The game has a handdrawn comic book graphical
 style and has other anime style effects.
