#!/usr/bin/make -f
export JAVA_HOME=/usr/lib/jvm/default-java
export CLASSPATH=/usr/share/java/jl.jar
%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	jh_clean
	rm -rf scndgen
	rm -f *.jar

override_dh_auto_build:
	mkdir -p scndgen
	tar xzf scndgen_0.8.debian.tar.gz -C scndgen
	jh_build ./ScndGen.jar ./scndgen/debian/src/scnd_genesis/
	jar cvf ./assetAllExtra.jar -C ./scndgen/debian/src/lib/ .

override_dh_install:
	dh_install
	jh_manifest
	jh_exec
	jh_depends
