Source: the-powder-toy
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               scons,
               libsdl1.2-dev,
               libbz2-dev,
               liblua5.1-0-dev,
               fftw3-dev
Standards-Version: 3.9.5
Homepage: http://powdertoy.co.uk

Package: the-powder-toy
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Physics sandbox game
 The Powder Toy is a desktop version of the classic
 'falling sand' physics sandbox game, it simulates
 air pressure and velocity as well as heat!
