Source: grfcodec
Section: devel
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper (>= 9),
               libboost-dev,
               libpng12-dev
Standards-Version: 3.9.3
Homepage: http://dev.openttdcoop.org/projects/grfcodec

Package: grfcodec
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Suite of programs to modify Transport Tycoon Deluxe's GRF files
 This package provides the grfcodec, grfdiff and grfmerge commands which can
 be used to work with the GRF used by the Transport Tycoon Deluxe, TTDPatch
 and OpenTTD games.

Package: nforenum
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Format correcter and linter for the NFO programming language
 The NFO programming language is used in the graphic file format from the
 Transport Tycoon Deluxe, TTDPatch and OpenTTD games.
 .
 It takes as input any number of files that contain something that vaguely
 resembles valid NFO, and produces, to the best of its ability, encodable NFO
 files, one for each input file.
 .
 It also detects and warns about some common mistakes made in NFO coding. A
 pretty-printer is also included.
