[Desktop Entry]
Name=Red Eclipse
Comment=First Person Shooter using the Cube 2 engine
Icon=redeclipse
Exec=/usr/games/redeclipse
Terminal=false
Type=Application
Categories=Game;ActionGame;
