[Desktop Entry]
Type=Application
Version=1.0
Name=Red Eclipse
Name[es]=Eclipse rojo
Name[gl]=Eclipse vermello
Name[sv]=Röd Eklips
GenericName=First-person shooter game
GenericName[es]=Juego de tiros en primera persona
GenericName[gl]=Xogo de tiros en primeira persoa
GenericName[sv]=Förstapersonsskjutare
Comment=First-person shooter with agile gameplay and built-in editor
Comment[es]=Juego de tiros en primera persona con editor incorporado
Comment[gl]=Xogo de tiros en primeira persoa con editor incorporado
Comment[se]=Förstapersonsskjutare med rörlig spelstil och inbyggd baneditor
Icon=redeclipse
Exec=/usr/games/redeclipse
Categories=Game;ActionGame;
