#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	install -d debian/tmp/usr/share/games/redeclipse/data/fonts/
	cd debian/tmp/usr/share/games/redeclipse/data/fonts/ && \
		cube2font /usr/share/fonts/truetype/play/Play-Bold.ttf \
			small 3 15 1 1 40 40 512 512 0 0 fonts/; \
		cube2font /usr/share/fonts/truetype/play/Play-Bold.ttf \
			large 3 14 1 1 56 56 512 512 0 0 fonts/
	dh_auto_build

override_dh_prep:
	dh_prep --exclude=debian/tmp

override_dh_install:
	dh_install --exclude="license.txt"

overrride_dh_builddeb:
	dh_builddeb -Zxz

VER=$(shell dpkg-parsechangelog | sed -rne 's/^Version: ([^-]+).*/\1/p')
DIR=redeclipse-data-$(VER).orig
TAR=redeclipse-data_$(VER).orig.tar.bz2
get-orig-source:
	uscan --noconf --force-download --download-current-version --destdir=.
	rm -rf $(DIR)
	tar -xf redeclipse-data_$(VER).orig.tar.bz2
	mv redeclipse/ $(DIR)
	rm -rf $(DIR)/bin/
	cd $(DIR) && rm -f redeclipse.sh server.sh redeclipse.bat server.bat
	rm -rf $(DIR)/data/examples/
	rm -f $(DIR)/data/fonts/large*
	rm -f $(DIR)/data/fonts/small*
	rm -f $(DIR)/data/fonts/*.ttf
	find $(DIR)/src -mindepth 1 -not -wholename "*site*" -delete
	BZIP2="-9" tar -cj --owner root --group root --mode a+rX \
		-f $(TAR) $(DIR)
	rm -rf $(DIR)
