#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --sourcedirectory=src

# We can't do this due to current license regaring icon...
# override_dh_auto_build:
#	convert -shave 8x8 -resize 32x32 src/site/bits/favicon.png debian/redeclipse.xpm	
#	dh_auto_build
