[Desktop Entry]
Type=Application
Version=1.0
Name=Red Eclipse
Name[de]=Roter Eklipse
Name[es]=Eclipse Rojo
Name[gl]=Eclipse Vermello
Name[it]=Eclisse Rosso
Name[pt]=Eclipse Vermelho
GenericName=First-person shooter game
GenericName[es]=Juego de tiros en primera persona
GenericName[gl]=Xogo de tiros en primeira persoa
GenericName[it]=Sparatutto in prima persona
GenericName[pt]=Jogo de tiros em primeira pessoa
GenericName[sv]=Förstapersonsskjutare
Comment=First-person shooter with agile gameplay and built-in editor, modified for Debian.
Comment[de]=Ego-Shooter Spiel mit agilen Gameplay und integriertem Editormodifiziert für Debian.
Comment[es]=Juego de tiros en primera persona con jugabilidad ágil y editor incorporado, modificado para Debian.
Comment[gl]=Xogo de tiros en primeira persoa con xogo áxil e editor incorporado, modificada para Debian.
Comment[it]=Sparatutto in prima persona con agile gameplay ed editor incorporato, modificato per Debian.
Comment[pt]=Jogo de tiros em primeira pessoa com jogabilidade ágil e editor incorporado, modificada para Debian.
Comment[sv]=Förstapersonsskjutare med rörlig spelstil och inbyggd baneditor, anpassad för Debian.
Icon=redeclipse
Exec=/usr/games/redeclipse
Categories=Game;ActionGame;
