[Desktop Entry]
Type=Application
Version=1.4
Name=FlightGear Launch Control
Keywords=fgrun;fgfs;flight;flightgear;launch;control
Icon=/usr/share/pixmaps/flightgear.ico
Exec=fgrun
Terminal=false
Categories=Game;Simulation;
Comment=Launch FlightGear via FGRun

