#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DSIMGEAR_SHARED:BOOL=ON

override_dh_auto_install:
	dh_auto_install
	# TODO: How can I make cmake to install into /usr/games ?
	mv debian/fgrun/usr/bin debian/fgrun/usr/games

override_dh_installchangelogs:
	dh_installchangelogs NEWS
