Source: astromenace-data
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.4
Homepage: http://www.viewizard.com

Package: astromenace-data
Architecture: all
Depends: ${misc:Depends}
Description: 3D space shooter (data files)
 Hardcore 3D space shooter with spaceship
 upgrade possibilities.
 .
 (This package contains the data files)
