Source: paintown
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               libsdl-dev,
               scons (>= 1.1.0),
               libpng12-dev, 
               libfreetype6-dev,
               zlib1g-dev,
               libmad0-dev,
               python-dev,
               libvorbis-dev,
               libogg-dev,
               libmpg123-dev
Homepage: http://paintown.sourceforge.net/
Standards-Version: 3.9.3

Package: paintown
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         paintown-data (>= 3.6.0)
Description: 2-d fighting game similar to Streets of Rage
 Paintown is a 2-d fighting game similar to Streets of Rage
 and Teenage Mutant Ninja Turtles. Paintown comes with level and animation 
 editors to help with the creation of new content. Paintown also implements the
 MUGEN engine.
 .
 This package contains the arch dependent binary files.

