Source: mupen64plus-extraplugins
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~), mupen64plus-dev,
 libglu1-mesa-dev, mesa-common-dev, libsdl1.2-dev,
 libftgl-dev, libglew1.5-dev, libglui-dev,
 libglide3-dev, libdevil-dev
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/mupen64plus/

Package: mupen64plus-extraplugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mupen64plus
Description: Mupen64Plus plugins
 Additional plugins for Mupen64Plus.
