Source: moonpy
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               python-all-dev
Standards-Version: 3.9.5
Homepage: http://code.google.com/p/tether/

Package: moonpy
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-pygame
Description: Open source remake of Moonbase Commander
 MoonPy is an open-source remake of the classic strategy
 game Moonbase Commander. A multiplayer turn-based game.
 .
 On their turn the player can spend energy points by
 attacking their opponents and/or adding more buildings
 to their base. Turns continue until all players
 either pass or run out of energy. The round then ends,
 players regain energy, and continue taking turns.
 .
 All buildings are ground-based and are attached by
 a tether to the building that created them. All
 units need to be "launched" similar to many artillery
 games though in a top-down perspective.
