Source: soulfu
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), pkg-config,
 libsdl-net1.2-dev, libsdl1.2-dev, mesa-common-dev,
 libvorbis-dev, libjpeg62-dev, quilt, libc6-dev-i386 [amd64],
 ia32-libs [amd64], gcc-4.4-multilib [amd64]
Standards-Version: 3.8.3
Homepage: http://aaronbishopgames.com/

Package: soulfu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, soulfu-data (= ${source:Version})
Description: Graphical Rogue-like role-playing game
 SoulFu is Aaron Bishop's latest 3D Graphical Rogue-like role-playing
 game. A sequel to the wildly popular open source game Egoboo. It
 features rich gameplay, cell-shaded graphics, and random generation.
 The game is very fun and has cute little graphics.

Package: soulfu-data
Architecture: all
Depends: ${misc:Depends}
Description: Graphical Rogue-like role-playing game (data files)
 SoulFu is Aaron Bishop's latest 3D Graphical Rogue-like role-playing
 game. A sequel to the wildly popular open source game Egoboo. It
 features rich gameplay, cell-shaded graphics, and random generation.
 The game is very fun and has cute little graphics.
 .
 (This package contains the data files).
