Source: jbrickshooter
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: cdbs, debhelper (>= 5)
Homepage: http://code.google.com/p/jbrickshooter/
Standards-Version: 3.9.1

Package: jbrickshooter
Architecture: all
Depends: openjdk-6-jre | java-runtime, fontconfig, ${misc:Depends}
Description: Absolutely free Brick Shooter game Java implementation
 This project written in Java aims to create
 free implementation of perfect puzzle game
 named Brick Shooter
