Source: vulture
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~), libsdl1.2-dev (>= 1.2.3+cvs20020303),
 libncurses5-dev, bison, bsdmainutils, groff-base, flex, libpng12-dev,
 libsdl-mixer1.2-dev, libsdl-ttf2.0-dev
Homepage: http://www.darkarts.co.za/vulture/about
Standards-Version: 3.9.1

Package: vulture-nethack
Architecture: any
Depends: vulture-data (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: falconseye
Description: Port of NetHack using SDL
 Vulture for NetHack is a mouse-driven interface for NetHack that enhances
 the visuals, audio and accessibility of the game, yet retains all the
 original gameplay and game features.
 .
 NetHack is a single player dungeon exploration game that runs on a wide
 variety of computer systems, with a variety of graphical and text
 interfaces all using the same game engine. Unlike many other Dungeons &
 Dragons-inspired games, the emphasis in NetHack is on discovering the
 detail of the dungeon and not simply killing everything in sight
 - in fact, killing everything in sight is a good way to die quickly.
 Each game presents a different landscape - the random number generator
 provides an essentially unlimited number of variations of the dungeon and
 its denizens to be discovered by the player in one of a number of
 characters: you can pick your race, your role, and your gender.

Package: vulture-slashem
Architecture: any
Depends: vulture-data (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Port of SLASH'em using SDL
 Vulture for Slash'EM is a mouse-driven interface for SLASH'em that enhances
 the visuals, audio and accessibility of the game, yet retains all the original
 gameplay and game features.


Package: vulture-unnethack
Architecture: any
Depends: vulture-data (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Play UnNetHack using the Vulture UI
 Vulture for UnNetHack is a mouse-driven interface that enhances the visuals,
 audio and accessibility of the game, yet retains all the original gameplay and
 game features.


Package: vulture-data
Architecture: all
Depends: ${misc:Depends}, ttf-bitstream-vera
Description: Data files for Vulture-NetHack,-SlashEM and -UnNetHack
 Vulture for NetHack and Vulture for Slash'EM are mouse-driven interfaces
 for NetHack and SLASH'em that enhance the visuals, audio and accessibility
 of the game, yet retain all the original gameplay and game features.
 .
 NetHack is a single player dungeon exploration game that runs on a wide
 variety of computer systems, with a variety of graphical and text interfaces
 all using the same game engine. Unlike many other Dungeons & Dragons-inspired
 games, the emphasis in NetHack is on discovering the detail of the dungeon
 and not simply killing everything in sight - in fact, killing everything
 in sight is a good way to die quickly. Each game presents a different
 landscape - the random number generator provides an essentially unlimited
 number of variations of the dungeon and its denizens to be discovered by the
 player in one of a number of characters: you can pick your race, your role,
 and your gender.
