[Desktop Entry]
Type=Application
Name=Vulture-Nethack
GenericName=
Comment=Dungeons and dragons inspired role play game
Comment[de_DE]=Rollenspiel im Sinne von Dungeons und Dragons
Icon=vulture-nethack
Exec=/usr/games/vulture-nethack
Terminal=false
Categories=Application;Game;
