#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cp pro00099.template.ini pro00099.ini && chmod 644 pro00099.ini

override_dh_install:
	dh_install
	rm debian/diaspora-data/usr/share/games/diaspora/data/cmdline_fso.cfg
