#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -d marathon ] || mv marathon Marathon

override_dh_auto_build:
	mv Marathon marathon
	find marathon -type f -exec chmod -x {} \;
	find marathon -type d -empty -delete

	# install file cannot handle spaces
	mv marathon/Plugins/Marathon\ Theme marathon/Plugins/Marathon_Theme

override_dh_link:
	dh_link
	mv debian/marathon/usr/share/games/marathon/Plugins/Marathon_Theme debian/marathon/usr/share/games/marathon/Plugins/Marathon\ Theme
	rm debian/marathon/usr/share/games/marathon/COPYING.txt
	rm debian/marathon/usr/share/games/marathon/svn-commit.tmp
	mv marathon/Plugins/Marathon_Theme marathon/Plugins/Marathon\ Theme
