Source: freeorion
Section: games
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: cmake,
               debhelper (>= 9),
               libalut-dev,
               libboost-all-dev,
               libbullet-dev,
               libgigiogre-dev,
               libopenal-dev,
               libvorbis-dev,
               pkg-config,
               python-dev,
               libois-dev
Priority: optional
Homepage: https://www.freeorion.org/
Standards-Version: 3.9.3

Package: freeorion
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         freeorion-data (= ${source:Version})
Description: Conquer the galaxy
 FreeOrion is a free, open source, turn-based space empire and galactic
 conquest (4X) computer game being designed and built by the FreeOrion
 project.
 .
 FreeOrion is inspired by the tradition of the Master of Orion games, but is
 not a clone or remake of that series or any other game.

Package: freeorion-data
Architecture: all
Depends: ${misc:Depends}
Description: Conquer the galaxy (data files)
 FreeOrion is a free, open source, turn-based space empire and galactic
 conquest (4X) computer game being designed and built by the FreeOrion
 project.
 .
 FreeOrion is inspired by the tradition of the Master of Orion games, but is
 not a clone or remake of that series or any other game.
 .
 (This package contains the data files).
