Source: rejoystick
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), autotools-dev,
 libsdl1.2-dev, libgtk2.0-dev, x11proto-xext-dev,
 libx11-dev, libglib2.0-dev, libxtst-dev
Standards-Version: 3.8.4
Homepage: http://rejoystick.sourceforge.net/

Package: rejoystick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gamepad to keyboard translator/mapper
 This program "translates" keypresses on joystick/gamepads/joypads
 into keypresses on a keyboard. It's great to use as a substitute
 for a remote control and perfect to use when you play games that
 don't have gamepad support.
