Source: flightgear
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Original-Maintainer: Debian FlightGear Crew <pkg-fgfs-crew@lists.alioth.debian.org>
Uploaders: Ove Kaaven <ovek@arcticnet.no>
Build-Depends: debhelper (>= 9),
               libx11-dev,
               libxext-dev,
               libxi-dev,
               libice-dev,
               libsm-dev,
               libxt-dev,
               libxmu-dev,
               libgl1-mesa-dev | libgl-dev,
               libglu1-mesa-dev | xlibmesa-glu-dev | libglu-dev,
               freeglut3-dev | libglut3-dev,
               zlib1g-dev,
               libjpeg62-dev | libjpeg-dev,
               libboost-dev,
               libplib-dev (>= 1.8.5),
               libopenscenegraph-dev (>> 2.8.0),
               libopenal-dev,
               libalut-dev,
               autotools-dev,
               simgear-dev (>= 2.12.0),
               simgear2.12.0 (>= 2.12.0),
               libpng12-dev,
               cmake,
               libsvn-dev,
               libapr1-dev,
               libudev-dev
Standards-Version: 3.9.3
Homepage: http://www.flightgear.org/

Package: flightgear
Architecture: any
Depends: ${shlibs:Depends},
         fgfs-base (>= 2.12.0),
         ${misc:Depends}
Recommends: fgfs-aircraft-base (>= 2.12.0),
            fgfs-models-base (>= 2.12.0)
Description: Flight Gear Flight Simulator
 Flight Gear is a free and highly sophisticated flight simulator.
 .
 This package contains the runtime binaries.
