[Desktop Entry]
Type=Application
Version=1.4
Name=FlightGear
Exec=fgfs
Terminal=false
Categories=Game;Simulation;
Comment=A flight simulator
Comment[pt]=Simulação de Vôo
Icon=flightgear
