Source: nikki
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libqt4-dev,
               libqt4-opengl-dev,
               cmake,
               cabal-install,
               libghc-openal-dev,
               libsndfile1-dev,
               libopenal-dev,
               libghc-sfml-audio-dev,
               libghc-zlib-dev,
               libghc-libzip-dev,
               libghc-vector-prof,
               libsfml-dev,
               libcsfml-dev
Standards-Version: 3.9.3
Homepage: http://joyridelabs.de/game/

Package: nikki
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nikki-data (= ${source:Version})
Description: 2-dimensional platform game
 In a fictional world of the future the infamous super villain
 Dr. Lacroix schemes to seize world supremacy with his army of robots.
 You take the role of Nikki and try to cross those evil plans on
 behalf of a secret organization. Your quest will take you to various
 locations: from futuristic metropolises to submarine facilities,
 floating islands, and even as far as orbital space.

Package: nikki-data
Architecture: all
Depends: ${misc:Depends}
Description: 2-dimensional platform game (data package)
 In a fictional world of the future the infamous super villain
 Dr. Lacroix schemes to seize world supremacy with his army of robots.
 You take the role of Nikki and try to cross those evil plans on
 behalf of a secret organization. Your quest will take you to various
 locations: from futuristic metropolises to submarine facilities,
 floating islands, and even as far as orbital space.
 .
 (This package contains the data files)
