#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -rf src/cpp/dist src/nikki src/dist

override_dh_auto_configure:
	cd src && cd cpp && mkdir -p dist && cd dist && cmake ..

override_dh_auto_build:
	cd src && cd cpp && mkdir -p dist && cd dist && make
	cd src && cabal update
	cd src && cabal install --only-dependencies --extra-include-dirs=/usr/include/AL/
	cd src && cabal configure && cabal build

override_dh_auto_install:
	chmod +x src/linuxDeploy.hs
	unset LD_LIBRARY_PATH && cd src && ./linuxDeploy.hs
	rm -f src/nikki/data/LICENSE

override_dh_install:
	dh_install
	rm -f "debian/nikki-data/usr/share/games/nikki/data/music/8bit Tidbit 2.ogg.license"
	rm -f "debian/nikki-data/usr/share/games/nikki/data/music/It Is_0.ogg.license"
	rm -f "debian/nikki-data/usr/share/games/nikki/data/music/LET YOUR HORSE RUN FOREVER.ogg.license"
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/consoletext.wav.license
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/failure.wav.license
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/jump.wav.license
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/robot_off.wav.license
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/robot_on2.wav.license
	rm -f debian/nikki-data/usr/share/games/nikki/data/sounds/game/success.wav.license

