Source: diaspora
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libopenal-dev,
               libvorbis-dev,
               libsdl1.2-dev,
               libtheora-dev,
               libreadline6-dev,
               libpng12-dev,
               liblua5.1-0-dev,
               python-markdown,
               cmake,
               libwxgtk2.8-dev,
               libwxgtk2.8-dbg,
               libjpeg-dev
Standards-Version: 3.9.3
Homepage: http://www.diasporagame.com

Package: diaspora
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         diaspora-data (>= 1.0.4)
Description: Single and multiplayer space fighter combat game
 Diaspora is a single and multiplayer space fighter
 combat game set in the reimagined
 Battlestar Galactica universe. 
