[Desktop Entry]
Version=1.0
Name=Diaspora: Shattered Armistice
Exec=/usr/games/diaspora
Icon=diaspora
Terminal=false
Type=Application
Categories=Game;
