#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	mkdir -p Diaspora/wxlauncher/build
	cd Diaspora/fs2_open && sh autogen.sh && make -j8 && mv code/fs2_open_3.6.13 ../fs2_open_diaspora
	cd Diaspora/wxlauncher/build && cmake -D USE_OPENAL=1 -D CMAKE_BUILD_TYPE=RelWithDebInfo -D DEVELOPMENT_MODE=1 -DCMAKE_INSTALL_PREFIX=/usr/share/games/diaspora/ ../ && make -j8

override_dh_strip:
	dh_strip --dbg-package=diaspora-dbg

override_dh_installchangelogs:
	dh_installchangelogs Diaspora/README.1.0.4.txt
