Source: emuselect
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), gambas2-dev (>= 1.9.48),
 gambas2-dev (<< 2.90), gambas2-gb-gui (>= 1.9.48), gambas2-gb-gui (<< 2.90),
 gambas2-gb-form (>= 1.90.1), gambas2-gb-form (<< 2.90.0)
Standards-Version: 3.9.1
Homepage: http://sourceforge.net/p/emuselect/

Package: emuselect
Architecture: all
Depends: ${misc:Depends}, gambas2-runtime (>= 1.9.48), gambas2-runtime (<< 2.90),
 gambas2-gb-gui (>= 1.9.48), gambas2-gb-gui (<< 2.90), gambas2-gb-form (>= 1.90.1),
 gambas2-gb-form (<< 2.90.0)
Description: Launcher for Emulator/ROMs
 Small, simple application to launch Emulators/ROMs.
 Preconfigured to launch PCSX-Reloaded, ZSNES, GVBA and DGen Roms.
 This program is written in Gambas
