#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DLIB_DIR=/usr/lib/games/gemrb -DBIN_DIR=/usr/games \
	-DDATA_DIR=/usr/share/games/gemrb -DPLUGIN_DIR=/usr/lib/games/gemrb/plugins -DSVG_DIR=/usr/share/pixmaps

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_install:
	dh_install --fail-missing
	rm debian/gemrb/usr/share/doc/gemrb/INSTALL
	rm debian/gemrb/usr/share/doc/gemrb/COPYING*
	rm -f debian/gemrb/usr/share/doc/gemrb/NEWS*
	mv debian/gemrb/usr/games/extend2da.py debian/gemrb/usr/games/extend2da


--   PREFIX: /usr
--   LIB_DIR: /usr/lib/gemrb
--   PLUGIN_DIR: /usr/lib/gemrb/plugins
--   BIN_DIR: /usr/bin
--   DATA_DIR: /usr/share/gemrb
--   MAN_DIR: /usr/share/man/man6
--   SYSCONF_DIR: /etc/gemrb
--   DOC_DIR: /usr/share/doc/gemrb
--   ICON_DIR: /usr/share/pixmaps
--   SVG_DIR: /usr/share/icons/hicolor/scalable/apps
--   MENU_DIR: /usr/share/applications
