Source: zero-ballistics
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libglu1-mesa,
               libgl1-mesa-glx,
               libjpeg62
Standards-Version: 3.9.4
Homepage: http://www.zeroballistics.com

Package: zero-ballistics
Architecture: any
Depends: ${misc:Depends},
         zero-ballistics-bin (= ${source:Version})
Description: First person shooter tank combat
 Zero Ballistics is a unique blend of first
 person shooter and tank combat, focusing
 on multiplayer gaming exclusively.

Package: zero-ballistics-bin
Architecture: i386
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         zero-ballistics-data (= ${source:Version})
Description: First person shooter tank combat - binary files
 Zero Ballistics is a unique blend of first
 person shooter and tank combat, focusing
 on multiplayer gaming exclusively.
 .
 (This package contains the binary files).

Package: zero-ballistics-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: First person shooter tank combat (data package)
 Zero Ballistics is a unique blend of first
 person shooter and tank combat, focusing
 on multiplayer gaming exclusively.
 .
 (This package contains the data files)
