#!/usr/bin/make -f
%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/zero-ballistics/usr/lib/games/zero-ballistics/shared_libs:/usr/lib32/mesa/

override_dh_install:
	dh_install
	[ ! -d debian/zero-ballistics-data/usr/share/games/zero-ballistics/data ] \
	    || find debian/zero-ballistics-data/usr/share/games/zero-ballistics/data -type f -exec chmod -x {} \;
