[Desktop Entry]
Version=1.0
Name=Zero Ballistics
Exec=/usr/games/zero-ballistics
Icon=zero-ballistics
Terminal=false
Type=Application
Categories=Game;
