Source: minetest-delta
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~), cmake,
 libirrlicht-dev, libicu-dev, libgl1-mesa-dev,
 libbz2-dev, libpng12-dev, libxxf86vm-dev, libjpeg8-dev
Standards-Version: 3.9.1
Homepage: http://celeron.55.lt/~celeron55/minetest/delta.php

Package: minetest-delta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fork of Minetest-c55
 Minetest Δ ("Minetest Delta") is a fork of Minetest-c55
 incorporating experimental features that are not (yet)
 included in Minetest-c55.
