[Desktop Entry]
Version=1.0
Name=Dungeon Crawl Stone Soup
Exec=/usr/games/stone-soup
Icon=stone-soup
Terminal=false
Type=Application
Categories=Game;
