Source: annchienta
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6), cmake,
 libsdl1.2-dev, libpng12-dev, mesa-common-dev,
 libsdl-mixer1.2-dev, libfreetype6-dev, python-all-dev,
 python-support
Standards-Version: 3.9.1
Homepage: http://annchienta.sourceforge.net/

Package: annchienta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Annchienta engine
 This package is the core Annchienta engine.
