Source: scummvm-tools
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 9),
               wx2.8-headers,
               libvorbis-dev,
               libflac-dev,
               libfreetype6-dev,
               libx11-dev,
               x11proto-core-dev,
               libpng12-dev,
               libwxbase2.8-dev,
               libmad0-dev,
               libwxgtk2.8-dev,
               libboost-dev
Standards-Version: 3.9.5
Homepage: http://www.scummvm.org

Package: scummvm-tools
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Collection of various tools for ScummVM
 This is a collection of various tools that may be useful to
 use in conjunction with ScummVM. Please note that this module
 is not always in-sync with the latest STABLE version of ScummVM.
