#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.log config.h config.mk

override_dh_auto_configure:
	LDFLAGS=-Wl,--as-needed dh_auto_configure

override_dh_auto_install:
	dh_auto_install -- BINDIR=/usr/games

override_dh_installchangelogs:
	dh_installchangelogs NEWS
