[Desktop Entry]
Type=Application
Name=Toy Cars Vehicle Editor
Exec=toycars_vehicle_editor
Icon=toycars
Comment=A toy cars racing game
Terminal=false
Categories=Application;Game;ActionGame;
StartupNotify=false
