Source: openjk
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 10),
               cmake,
               mesa-common-dev,
               libopenal-dev,
               libncurses5-dev,
               libsdl2-dev,
               libpng-dev,
               libjpeg8-dev
Standards-Version: 3.9.8
Homepage: https://github.com/JACoders/OpenJK

Package: openjk
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         zenity
Description: Open Jedi Academy
 Community effort to maintain and improve Jedi Academy
 + Jedi Outcast released by Raven Software.
