[Desktop Entry]
Version=1.0
Name=Jedi Academy: Singleplayer
Exec=/usr/games/openjk_sp
Icon=openjk
Terminal=false
Type=Application
Categories=Game;
Keywords=openjk_sp;jksp
