Source: spring
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Markus Koschany <apo@debian.org>
Build-Depends: asciidoc,
               bzip2,
               cmake,
               debhelper (>= 9),
               default-jdk,
               docbook-xml,
               docbook-xsl,
               libboost-all-dev,
               libcurl4-gnutls-dev,
               libdevil-dev,
               libfreetype6-dev,
               libglew-dev,
               libjna-java,
               libjsoncpp-dev,
               libminizip-dev,
               libogg-dev,
               libopenal-dev,
               libsdl2-dev,
               libunwind-dev,
               libvecmath-java,
               libvorbis-dev,
               libxcursor-dev,
               p7zip-full,
               python-pygccxml,
               xsltproc,
               zip
Standards-Version: 3.9.6
Homepage: https://springrts.com

Package: spring
Architecture: any
Depends: fonts-freefont-otf,
         spring-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: springlobby
Suggests: spring-javaai
Description: modern full-3D RTS game engine
 Spring is a modern full-3D RTS (Real Time Strategy) game engine originally
 created to bring the gameplay experience of Total Annihilation into 3D.
 Games are played using one of a number of mods.
 .
 This package just includes the game engine and the default AI, with no maps,
 mods or rich user interface.

Package: spring-common
Architecture: all
Depends: ${misc:Depends}
Description: modern full-3D RTS game engine (common files)
 Spring is a modern full-3D RTS (Real Time Strategy) game engine originally
 created to bring the gameplay experience of Total Annihilation into 3D.
 Games are played using one of a number of mods.
 .
 This package just includes the game engine's arch independent files, with no
 maps, mods or rich user interface.

Package: spring-javaai
Architecture: all
Depends: default-jre | java7-runtime,
         libjna-java,
         libvecmath-java,
         spring (>= ${source:Version}),
         ${misc:Depends}
Description: modern full-3D RTS game engine (Java AIs)
 Spring is a modern full-3D RTS (Real Time Strategy) game engine originally
 created to bring the gameplay experience of Total Annihilation into 3D.
 Games are played using one of a number of mods.
 .
 This package contains Java based AIs and the spring interface libraries these
 require.
