Source: netmaumau
Section: games
Priority: extra
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: bash-completion,
               binutils-gold,
               cdbs,
               debhelper (>= 9),
               dh-autoreconf,
               doxygen (>= 1.8.0),
               gawk,
               graphviz,
               help2man,
               libgsl0-dev,
               liblua5.1-0-dev (>= 5.1.2),
               libmagic-dev,
               libmicrohttpd-dev,
               libpopt-dev (>= 1.10),
               libsqlite3-dev (>= 3.4.2),
               lsb-release,
               pkg-config,
               vim-common,
               zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://sourceforge.net/projects/netmaumau/

Package: netmaumau-client
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libnetmaumauclient5 (>= 0.23.5~),
         libnetmaumaucommon6 (>= 0.23.4~),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: nmm-qt-client
Description: Server for the popular card game Mau Mau - console client
 A simple console client for the NetMauMau server.
 It is originally intended for testing and not for efficient and joyful game play.

Package: netmaumau-server-common
Architecture: all
Recommends: xinetd
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}
Description: Server for the popular card game Mau Mau - common server files
 Play the popular card game Mau Mau (similar to UNO®) against the computer or over the network
 with your friends.
 .
 Features:
 .
  * Play against an unlimited number of tactical playing computer opponents
  * Play against an unlimited number of human players over the network
  * Play ace/queen/king rounds (optional)
  * Support for player images
  * Server side scores
  * Away from home, but PC is running? On Linux/BSD you can run the server on demand
    by using (x)inetd
  * Highly customizeable rules, even tweak them to your needs with Lua

Package: netmaumau-server
Architecture: any
Recommends: xinetd
Suggests: nmm-qt-client
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libnetmaumaucommon6 (>= ${binary:Version}),
         netmaumau-server-common (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Server for the popular card game Mau Mau - server
 Play the popular card game Mau Mau (similar to UNO®) against the computer or over the network
 with your friends.
 .
 Features:
 .
  * Play against an unlimited number of tactical playing computer opponents
  * Play against an unlimited number of human players over the network
  * Play ace/queen/king rounds (optional)
  * Support for player images
  * Server side scores
  * Away from home, but PC is running? On Linux/BSD you can run the server on demand
    by using (x)inetd
  * Highly customizeable rules, even tweak them to your needs with Lua

Package: libnetmaumaucommon6
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Server for the popular card game Mau Mau - common library
 Common functions shared between the NetMauMau server and NetMauMau clients.
Replaces: libnetmaumaucommon0,
          libnetmaumaucommon1,
          libnetmaumaucommon2,
          libnetmaumaucommon3,
          libnetmaumaucommon4,
          libnetmaumaucommon5
Section: libs

Package: libnetmaumauclient5
Architecture: any
Section: libs
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libnetmaumaucommon6 (>= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: libnetmaumauclient0,
          libnetmaumauclient1,
          libnetmaumauclient2,
          libnetmaumauclient3,
          libnetmaumauclient4
Provides: netmaumau-client-api-15
Description: Server for the popular card game Mau Mau - client library
 Functions for establishing a connection and playing with a NetMauMau server.

Package: netmaumau-dev
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libnetmaumauclient5 (= ${binary:Version}),
         libnetmaumaucommon6 (= ${binary:Version}),
         ${misc:Depends}
Suggests: netmaumau-server
Description: Server for the popular card game Mau Mau - developer files
 Files and documentation for developing a client for the NetMauMau server.
Section: devel

Package: netmaumau-dbg
Architecture: any
Section: debug
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libnetmaumauclient5 (= ${binary:Version}),
         libnetmaumaucommon6 (= ${binary:Version}),
         netmaumau-client (= ${binary:Version}),
         netmaumau-server (= ${binary:Version}),
         ${misc:Depends}
Description: Server for the popular card game Mau Mau - debugger symbols
 Debugger symbols for the NetMauMau package.
