#!/usr/bin/make -f

export ACLOCAL = aclocal-1.11
export AUTOMAKE = automake-1.11

CPPFLAGS = -DNDEBUG
CXXFLAGS = -fomit-frame-pointer

DEB_HOST_GNU_CPU   := $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)
DEB_HOST_GNU_TYPE  := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifeq ($(DEB_BUILD_ARCH),amd64)
MARCH := -m64 -march=k8 -mtune=generic
else
MARCH := -m32 -march=$(DEB_HOST_GNU_CPU) -mtune=generic
endif

DPKG_EXPORT_BUILDFLAGS = 1

DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_CPPFLAGS_MAINT_APPEND := -DNDEBUG
DEB_CFLAGS_MAINT_APPEND := -fomit-frame-pointer $(MARCH)
DEB_CXXFLAGS_MAINT_APPEND := -fomit-frame-pointer $(MARCH)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/autoreconf.mk
-include /usr/share/dpkg/buildflags.mk

# Add here any variable or target overrides you need.

DEB_CONFIGURE_EXTRA_FLAGS = --bindir=\$${prefix}/games --enable-cli-client --enable-ai-image=/usr/share/pixmaps/debian-logo.png \
	--enable-ai-name="`lsb_release -sc | sed 's/.*/\u&/'`" --localstatedir=/var/games
DEB_MAKE_CHECK_TARGET = check
INT_INSTALL_TARGET = install-strip
DEB_DH_BUILDDEB_ARGS_DEFAULT := -- -z9 -Zxz
DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_DH_AUTORECONF_ARGS = --as-needed
DH_ALWAYS_EXCLUDE=.svn
DEB_DH_INSTALL_ARGS_DEFAULT = --list-missing -Xclient-api-doc -X.la -Xnmm-server.1 -Xai_img
DEB_DH_MAKESHLIBS_ARGS_netmaumau-server = -n
DEB_DH_STRIP_ARGS_DEFAULT = --dbg-package=netmaumau-dbg -n
