Source: bitfighter
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               mesa-common-dev,
               libglu1-mesa-dev,
               libopenal-dev,
               libalut-dev,
               libreadline6-dev,
               libc6-dev-i386 [amd64],
               lib32stdc++6 [amd64],
               freeglut3-dev,
               liblua5.1-0-dev,
               libsdl2-dev,
               libspeex-dev,
               libvorbis-dev,
               libmodplug-dev,
               libsqlite3-dev,
               libalure-dev,
               libtomcrypt-dev,
               libboost-dev,
               libclipper-dev,
               libluajit-5.1-dev,
               libpng12-dev
Standards-Version: 3.9.5
Homepage: http://bitfighter.org

Package: bitfighter
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         bitfighter-data (= ${source:Version})
Description: Multiplayer vector graphics space game
 Bitfighter is a free multi-player 2-D space combat
 game with Robotron-like controls. It's a team-based
 strategy game featuring retro vector graphics and
 customizable ships. It's fast, fun, and frenetic.

Package: bitfighter-data
Architecture: all
Depends: ${misc:Depends}
Description: Multiplayer vector graphics space game (data files)
 Bitfighter is a free multi-player 2-D space combat
 game with Robotron-like controls. It's a team-based
 strategy game featuring retro vector graphics and
 customizable ships. It's fast, fun, and frenetic.
 .
 (This package contains the data files)

