Source: ufoai-data
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Markus Koschany <apo@gambaru.de>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: ufoai-tools (>= 2.5),
                     zip
Standards-Version: 3.9.5
Homepage: http://ufoai.org

Package: ufoai-data
Architecture: all
Depends: ${misc:Depends}
Suggests: ufoai,
          ufoai-uforadiant
Description: UFO: Alien Invasion (data package)
 UFO: Alien Invasion is a squad-based tactical strategy game in the tradition
 of the old X-COM PC games. It combines military realism with hard
 science-fiction and the weirdness of an alien invasion. The carefully
 constructed turn-based system gives you pin-point control of your squad while
 maintaining a sense of pace and danger.
 .
 This package contains hundreds of models, images and shader files for the game
 UFO: Alien Invasion.
