Source: alien-arena-data
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Michael Gilbert <michael.s.gilbert@gmail.com>, Barry deFreese <bddebian@comcast.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
DM-Upload-Allowed: yes
Homepage: http://red.planetarena.org

Package: alien-arena-data
Architecture: all
Depends: ${misc:Depends}
Recommends: ttf-freefont
Enhances: alien-arena (>= ${source:Upstream-Version}),
          alien-arena-server (>= ${source:Upstream-Version})
Description: Game data files for Alien Arena
 ALIEN ARENA is a standalone 3D first person online deathmatch shooter
 crafted from the original source code of Quake II and Quake III, released
 by id Software under the GPL license. With features including 32 bit
 graphics, new particle engine and effects, light blooms, reflective water,
 hi resolution textures and skins, hi poly models, stain maps, ALIEN ARENA
 pushes the envelope of graphical beauty rivaling today's top games.
 .
 This package installs the data, botinfo, and arena files needed to run Alien
 Arena.
