Source: hedgewars
Section: games
Priority: extra
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Dmitry E. Oboukhov <unera@debian.org>,
 Gianfranco Costamagna <costamagnagianfranco@yahoo.it>
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               dpkg-dev (>= 1.16.1~),
               libqt4-dev (>= 4.2),
               fp-compiler,
               libsdl1.2-dev,
               libsdl-ttf2.0-dev,
               libsdl-mixer1.2-dev,
               libsdl-image1.2-dev,
               libsdl-net1.2-dev,
               bzip2,
               fp-units-gfx,
               ghc,
               libghc-stm-dev,
               libghc-network-dev,
               libghc-dataenc-dev,
               libghc-hslogger-dev,
               libghc-utf8-string-dev,
               liblua5.1-dev,
               imagemagick,
               libghc-bytestring-show-dev,
               fpc,
               libpng12-dev,
               libavcodec-dev,
               libavformat-dev,
               freeglut3-dev,
               libghc-mtl-dev,
               libghc-parsec3-dev,
               libghc-vector-dev,
               qt4-qmake,
               fp-units-misc,
               libghc-random-dev
Standards-Version: 3.9.3
Homepage: http://hedgewars.org

Package: hedgewars
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ttf-dejavu-core,
         ttf-wqy-zenhei,
         freeglut3,
         hedgewars-data (>= ${source:Upstream-Version})
Description: Funny turn-based artillery game, featuring fighting Hedgehogs!
 Each player controls a team of several hedgehogs. During the
 course of the game, players take turns with one of their
 hedgehogs. They then use whatever tools and weapons are
 available to attack and kill the opponents' hedgehogs, thereby
 winning the game. Hedgehogs may move around the terrain in a
 variety of ways, normally by walking and jumping but also by
 using particular tools such as the "Rope" or "Parachute", to
 move to otherwise inaccessible areas. Each turn is time-limited
 to ensure that players do not hold up the game with excessive
 thinking or moving.
 .
 A large variety of tools and weapons are available for players
 during the game: Grenade, Cluster Bomb, Bazooka, UFO, Homing Bee,
 Shotgun, Desert Eagle, Fire Punch, Baseball Bat, Dynamite, Mine,
 Rope, Pneumatic pick, Parachute. Most weapons, when used, cause
 explosions that deform the terrain, removing circular chunks.
 The landscape is an island floating on a body of water, or a
 restricted cave with water at the bottom. A hedgehog dies when
 it enters the water (either by falling off the island, or
 through a hole in the bottom of it), it is thrown off either
 side of the arena or when its health is reduced, typically from
 contact with explosions, to zero (the damage dealt to the
 attacked hedgehog or hedgehogs after a player's or CPU turn is
 shown only when all movement on the battlefield has ceased).

Package: hedgewars-data
Conflicts: hedgewars (<= 0.8.1-10)
Replaces: hedgewars (<= 0.8.1-10)
Architecture: all
Depends: ${misc:Depends}
Recommends: hedgewars
Description: Data files for hedgewars
 This package contains data files (images, sounds, levels data) 
 for the hedgewars package.
