Source: hedgewars
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Dmitry E. Oboukhov <unera@debian.org>,
           Gianfranco Costamagna <locutusofborg@debian.org>
Standards-Version: 3.9.6
Build-Depends: clang [arm64 hurd-i386 kfreebsd-amd64 kfreebsd-i386 mips mipsel ppc64el s390x alpha hppa m68k powerpcspe sh4 x32],
               cmake,
               debhelper (>= 9),
               dpkg-dev (>= 1.16.1~),
               fpc [amd64 armel armhf i386 powerpc sparc ppc64],
               freeglut3-dev,
               ghc,
# convert function
               imagemagick,
               libavcodec-dev,
               libavformat-dev,
               libghc-bytestring-show-dev,
               libghc-dataenc-dev,
               libghc-entropy-dev,
               libghc-hslogger-dev,
               libghc-mtl-dev,
               libghc-network-dev,
               libghc-parsec3-dev,
               libghc-random-dev,
               libghc-sha-dev,
               libghc-utf8-string-dev,
               libghc-vector-dev,
               libghc-zlib-dev,
               libglew-dev [arm64 hurd-i386 kfreebsd-amd64 kfreebsd-i386 mips mipsel ppc64el s390x alpha hppa m68k powerpcspe sh4 x32],
               liblua5.1-dev,
               libphysfs-dev,
               libpng-dev,
               libqt4-dev,
               libsdl-image1.2-dev,
               libsdl-mixer1.2-dev,
               libsdl-net1.2-dev,
               libsdl-ttf2.0-dev,
               libsdl1.2-dev,
               qt4-qmake,
# finding system fonts
               ttf-dejavu-core,
               ttf-wqy-zenhei
Homepage: http://hedgewars.org

Package: hedgewars
Architecture: any
Depends: freeglut3,
         hedgewars-data (>= ${source:Upstream-Version}),
         ttf-dejavu-core,
         ttf-wqy-zenhei,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Funny turn-based artillery game, featuring fighting Hedgehogs!
 Each player controls a team of several hedgehogs. During the
 course of the game, players take turns with one of their
 hedgehogs. They then use whatever tools and weapons are
 available to attack and kill the opponents' hedgehogs, thereby
 winning the game. Hedgehogs may move around the terrain in a
 variety of ways, normally by walking and jumping but also by
 using particular tools such as the "Rope" or "Parachute", to
 move to otherwise inaccessible areas. Each turn is time-limited
 to ensure that players do not hold up the game with excessive
 thinking or moving.
 .
 A large variety of tools and weapons are available for players
 during the game: Grenade, Cluster Bomb, Bazooka, UFO, Homing Bee,
 Shotgun, Desert Eagle, Fire Punch, Baseball Bat, Dynamite, Mine,
 Rope, Pneumatic pick, Parachute. Most weapons, when used, cause
 explosions that deform the terrain, removing circular chunks.
 The landscape is an island floating on a body of water, or a
 restricted cave with water at the bottom. A hedgehog dies when
 it enters the water (either by falling off the island, or
 through a hole in the bottom of it), it is thrown off either
 side of the arena or when its health is reduced, typically from
 contact with explosions, to zero (the damage dealt to the
 attacked hedgehog or hedgehogs after a player's or CPU turn is
 shown only when all movement on the battlefield has ceased).

Package: hedgewars-data
Architecture: all
Depends: ${misc:Depends}
Recommends: hedgewars
Description: Data files for hedgewars
 This package contains data files for the hedgewars package.
 Examples of files are: maps, scripts, themes, images, sounds,
 level data and other miscellaneous files needed by hedgewars.

Package: hedgewars-dbg
Section: debug
Architecture: any
Priority: extra
Depends: hedgewars (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Debug symbols for Hedgewars
 This package contains debug symbols for the hedgewars package.
