Source: higan
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Tobias Hansen <thansen@debian.org>
Build-Depends: debhelper (>= 9),
               libgtk2.0-dev,
               libsdl1.2-dev,
               libpulse-dev,
               libopenal-dev,
               libao-dev,
               libxv-dev,
               libudev-dev [linux-any],
               libasound2-dev [linux-any],
               libgtksourceview2.0-dev
Standards-Version: 3.9.7
Homepage: http://byuu.org/higan/

Package: higan
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Provides: nes-emulator
Description: Accurate Nintendo multi-system emulator
 higan is an emulator for Nintendos SNES, NES, Gameboy, Gameboy Color
 and Gameboy Advance. It was formerly called bsnes and the SNES
 emulation is especially complete and polished.
 .
 higan strives to provide the most faithful hardware emulation possible.
 It focuses on accuracy and clean code, rather than speed and special
 features. It is meant as a reference emulator to document how the underlying
 hardware works. As a result the minimum system requirements are high.
 .
 There are three profiles that govern the amount of accuracy and required
 system resources of the SNES emulation. Which profile to use can be set with:
 .
 # update-alternatives --config higan
