#!/usr/bin/make -f

# With gcc-4.6 4.6.1-15 on Debian unstable i386-kfreebsd something in -O2
# that can't be controlled by a flag causes problems with the higan GUI.
# The higan GUI doesn't show up at all, snespurify-gtk crashes all the time.
# Using -O1 and enabling all additional flags from -O3 works fine.
CFLAGS += -O1 -fthread-jumps -falign-functions  -falign-jumps -falign-loops \
-falign-labels -fcaller-saves -fcrossjumping -fcse-follow-jumps \
-fcse-skip-blocks -fdelete-null-pointer-checks -fdevirtualize \
-fexpensive-optimizations -fgcse -fgcse-lm -finline-small-functions \
-findirect-inlining -fipa-sra -foptimize-sibling-calls -fpartial-inlining \
-fpeephole2 -fregmove -freorder-blocks -freorder-functions \
-frerun-cse-after-loop -fsched-interblock -fsched-spec -fschedule-insns \
-fschedule-insns2 -fstrict-aliasing -fstrict-overflow -ftree-switch-conversion \
-ftree-pre -ftree-vrp -finline-functions -funswitch-loops -fpredictive-commoning \
-fgcse-after-reload -fipa-cp-clone -fomit-frame-pointer

%:
	dh $@

# We have to clean manually because the Makefile does not support distclean,
# and does not remove compiled higan binary
# Don't use make clean for snesfilter because it creates an error if called
# without files to delete.
override_dh_auto_clean:
	make -Chigan clean
	rm -rf higan/obj higan/out ananke/libananke.so ananke/ananke.o

override_dh_auto_build:
	mkdir -p higan/obj higan/out
	dh_auto_build -Dhigan -- compiler=gcc prefix=/usr phoenix=gtk profile=balanced name=higan-balanced
	make -Chigan clean
	dh_auto_build -Dhigan -- compiler=gcc prefix=/usr phoenix=gtk profile=accuracy name=higan-accuracy
	make -Chigan clean
	dh_auto_build -Dhigan -- compiler=gcc prefix=/usr phoenix=gtk profile=performance name=higan-performance

	dh_auto_build -Dananke -- compiler=gcc
	chmod 644 shaders/*.OpenGL.shader

override_dh_auto_install:
	install -D -m 644 higan/data/higan.png debian/higan/usr/share/pixmaps/higan.png
	install -D -m 644 higan/data/higan.desktop debian/higan/usr/share/applications/higan.desktop
	install -D -m 644 higan/data/cheats.bml debian/higan/usr/share/games/higan/cheats.bml
	install -D -m 755 ananke/libananke.so debian/higan/usr/lib/games/libananke.so
	cp -R higan/profile/* debian/higan/usr/share/games/higan/profile
	chmod 644 debian/higan/usr/share/games/higan/*/*
	find debian/higan/usr/share/games/higan -type d -exec chmod 755 {} \;
	cp shaders/*.shader $(CURDIR)/debian/higan/usr/share/games/higan/shaders/
	find $(CURDIR)/debian/higan/usr/share/games/higan/shaders -type f -exec chmod -x {} \;

