Source: ascal
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), autotools-dev,
 libgtkmm-2.4-dev, libglibmm-2.4-dev, libsigc++-2.0-dev,
 libglademm-2.4-dev, libgnomecanvasmm-2.6-dev,
 pkg-config, quilt
Standards-Version: 3.8.4
Homepage: http://ascal.sourceforge.net/

Package: ascal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gnome Version of the board game Lasca (or Laska)
 Lasca (or Laska) is a game similar to Draughts
 but with some really cool enhancements.
