#!/usr/bin/make -f

override_dh_auto_build:
	dh_auto_build -- LDFLAGS="$(LDFLAGS) -Wl,--as-needed"

override_dh_auto_install:
	dh_auto_install
	mv debian/ascal/usr/bin debian/ascal/usr/games
	rmdir debian/ascal/usr/share/aclocal

%:
	dh --with quilt $@
