Source: raydium
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               mesa-common-dev,
               libglu1-mesa-dev,
               libx11-dev,
               x11proto-core-dev,
               x11proto-xinerama-dev,
               x11proto-xext-dev,
               libglew-dev,
               libopenal-dev,
               libalut-dev,
               libvorbis-dev,
               linux-libc-dev,
               libjpeg-dev,
               libxinerama-dev,
               bison,
               flex,
               libcurl4-gnutls-dev,
               libxml2-dev,
               libv4l-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://raydium.org/

Package: libraydium-dev
Section: libdevel
Architecture: any
Depends: libraydium0 (= ${binary:Version}),
         ${misc:Depends}
Description: 3D game engine (header files)
 Raydium is a game engine. It provides a set
 of functions wich allow quick and flexible
 games creation.
 .
 (This package contains the header files)

Package: libraydium0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 3D game engine
 Raydium is a game engine. It provides a set
 of functions wich allow quick and flexible
 games creation.
