Source: tileracer
Section: games
Priority: optional
Maintainer: Joao Pinto <joao.pinto@getdeb.net>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: tileracer
Architecture: any
Depends: tileracer-data (= ${Source-Version}),
  ia32-libs [amd64],
  libx11-6 [i386],
  libxt6 [i386],
  libxext6 [i386],
  libxmu6 [i386],
  libglu1-mesa [i386],
  libxrandr2 [i386]
Description: 3D stunt racing game - Data files
 freeware 3D stunt racing game which features realistic car physics and an 
 in game track editor to create new maps to race on.

Package: tileracer-data
Architecture: all
Description: 3D stunt racing game - Data files
 freeware 3D stunt racing game which features realistic car physics and an 
 in game track editor to create new maps to race on.
