#!/usr/bin/make -f
%:
	dh $@ 

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/tileracer-bin/usr/share/games/tileracer/lib_linux:/usr/lib32/mesa/

override_dh_install:
	dh_install
	# plugin depends on old ogre version
	rm -f debian/tileracer-bin/usr/share/games/tileracer/lib_linux/Plugin_EXRCodec.so
