Source: moonlight-walks
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.5
Homepage: http://www.bishoujo.us/moonlight/

Package: moonlight-walks
Architecture: any
Depends: ${misc:Depends},
         moonlight-walks-bin (= ${source:Version})
Description: English-language visual novel
 Moonlight Walks is an english-language visual novel.
 It features 21 paths to 4 endings, and original digital artwork.
 It takes about 15 minutes to reach one of the longer endings,
 and perhaps half an hour to see them all.

Package: moonlight-walks-bin
Architecture: i386
Multi-Arch: foreign
Depends: ${python:Depends},
         ${misc:Depends},
         python-pygame,
         python-renpy,
         ttf-dejavu-core
Description: English-language visual novel (i386 only)
 Moonlight Walks is an english-language visual novel.
 It features 21 paths to 4 endings, and original digital artwork.
 It takes about 15 minutes to reach one of the longer endings,
 and perhaps half an hour to see them all.
 .
 This package contains the i386 binaries.
