[Desktop Entry]
Version=1.0
Name=Moonlight walks
Exec=/usr/games/moonlight-walks
Icon=moonlight-walks
Terminal=false
Type=Application
Categories=Game;
