Source: turres-monacorum
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>=9),
               zip
Standards-Version: 3.9.7
Homepage: http://nczempin.github.io/Turres-Monacorum/

Package: turres-monacorum
Architecture: all
Depends: love,
         ${misc:Depends}
Description: SciFi tower defense
 SciFi tower defense
