Source: atomicworm
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6),
 cmake, python-all-dev, libmagick++9-dev, libtuxcap-dev,
 quilt, libsdl-image1.2-dev, libsdl-mixer1.2-dev,
 libc6-dev-i386 [amd64], python-support
Standards-Version: 3.9.1
Homepage: http://www.tweeler.com/index.php?PAGE=atomicw_linux

Package: atomicworm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, atomicworm-data (= ${source:Version})
Description: Atomic Worm!
 Atomic Worm has flown into the light. 
 .
 A new game which features: 
 .
 Simple mouse control 
 .
 Exciting challenges and puzzle oriented game-play 
 .
 It takes the snake genre to a new dimension.

Package: atomicworm-data
Architecture: all
Depends: ${misc:Depends}
Description: Atomic Worm!
 Atomic Worm has flown into the light. 
 .
 A new game which features: 
 .
 Simple mouse control 
 .
 Exciting challenges and puzzle oriented game-play 
 .
 It takes the snake genre to a new dimension.
 .
 (This package contains the data files)
