#!/usr/bin/make -f

%:
	dh $@ --parallel

# We have to clean manually because the Makefile does not support distclean,
# and does not remove compiled bsnes binary
# Don't use make clean for snesfilter because it creates an error if called
# without files to delete.
override_dh_auto_clean:
	make -Cbsnes clean
	make -Cpurify clean

	rm -rf bsnes/obj bsnes/out purify/purify

override_dh_auto_build:
	find bsnes/profile/ -type f -execdir chmod -x {} \;
	mkdir -p bsnes/obj bsnes/out
	dh_auto_build -Dpurify -- compiler=gcc phoenix=gtk
	make -Cpurify clean
	dh_auto_build -Dbsnes -- compiler=gcc phoenix=gtk profile=compatibility name=bsnes-compatibility
	make -Cbsnes clean
	dh_auto_build -Dbsnes -- compiler=gcc phoenix=gtk profile=accuracy name=bsnes-accuracy
	make -Cbsnes clean
	dh_auto_build -Dbsnes -- compiler=gcc phoenix=gtk profile=performance name=bsnes-performance

override_dh_auto_test:

override_dh_auto_install:
	cp purify/purify debian/bsnes/usr/games/snespurify-gtk
	dh_auto_install -Dbsnes -pbsnes -- name=bsnes-compatibility prefix="/usr" DESTDIR="../debian/bsnes"
	dh_auto_install -Dbsnes -pbsnes -- name=bsnes-accuracy prefix="/usr" DESTDIR="../debian/bsnes"
	dh_auto_install -Dbsnes -pbsnes -- name=bsnes-performance prefix="/usr" DESTDIR="../debian/bsnes"
