Source: assaultcube
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               libsdl-image1.2-dev,
               libsdl1.2-dev,
               libgl1-mesa-dev,
               zlib1g-dev,
               libopenal-dev,
               libvorbis-dev,
               libcurl4-gnutls-dev
Standards-Version: 3.9.5
Homepage: http://assault.cubers.net/

Package: assaultcube
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Conflicts: assaultcube-data
Replaces: assaultcube-data
Description: realistic first-person-shooter
 AssaultCube, formerly ActionCube, is a first-person-shooter based on the
 game Cube. Set in a realistic looking environment, as far as that's
 possible with this engine, while gameplay stays fast and arcade. This
 game is all about team oriented multiplayer fun.

Package: assaultcube-dbg
Architecture: any
Section: debug
Priority: extra
Depends: assaultcube (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: realistic first-person-shooter (debug)
 AssaultCube, formerly ActionCube, is a first-person-shooter based on the
 game Cube. Set in a realistic looking environment, as far as that's
 possible with this engine, while gameplay stays fast and arcade. This
 game is all about team oriented multiplayer fun.
 .
 This package contains the debugging symbols.
