Source: fgfs-base
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Ove Kaaven <ovek@arcticnet.no>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://www.flightgear.org/

Package: fgfs-base
Architecture: all
Depends: ${misc:Depends},
         tzdata,
         ttf-liberation
Breaks: flightgear (<< 3.0.0)
Description: Flight Gear Flight Simulator -- base files
 Flight Gear is a free and highly sophisticated flight simulator.
 .
 This package contains graphics, sounds, models, and the minimum
 scenery you need to start Flight Gear.
 .
 This package does not contain the flight simulator itself.
 If you want to fly, install the flightgear package.

Package: fgfs-aircraft-base
Architecture: all
Depends: ${misc:Depends}
Replaces: fgfs-base (<< 3.0.0)
Description: Flight Gear Flight Simulator -- standard aircraft
 Flight Gear is a free and highly sophisticated flight simulator.
 .
 This package contains the aircraft models that come with the
 standard Flight Gear distribution.

Package: fgfs-models-base
Architecture: all
Depends: ${misc:Depends}
Breaks: fgfs-base (<< 3.0.0)
Description: Flight Gear Flight Simulator -- standard models
 Flight Gear is a free and highly sophisticated flight simulator.
 .
 This package contains the object models that come with the
 standard Flight Gear distribution.
