Source: libsfml2
Section: devel
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Christoph Egger <christoph@debian.org>
Build-Depends: debhelper (>= 9),
               cmake,
               libgl1-mesa-glx,
               mesa-common-dev,
               libglu1-mesa-dev,
               libxrandr-dev,
               libfreetype6-dev,
               libopenal-dev,
               libsndfile1-dev,
               libjpeg-dev,
               libpng-dev,
               libglew-dev,
               libsoil-dev,
               libxcb-image0-dev,
               libudev-dev
Standards-Version: 3.9.6
Homepage: http://www.sfml-dev.org/

Package: libsfml2.3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libsfml-audio2.3 (= ${binary:Version}),
         libsfml-graphics2.3 (= ${binary:Version}),
         libsfml-network2.3 (= ${binary:Version}),
         libsfml-system2.3 (= ${binary:Version}),
         libsfml-window2.3 (= ${binary:Version})
Conflicts: libsfml1.deb3-dev,
           libsfml-dev
Replaces: libsfml1.deb3-dev,
          libsfml-dev
Suggests: libsfml2.3-dbg
Description: Simple and fast cross-platform multimedia library - Development Files
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 This package includes header files for all SFML libraries.

Package: libsfml-audio2.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple and fast cross-platform multimedia library - Audio part
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 The Audio library is used to play sound and music in games. It is able to
 load OGG/Vorbis files.

Package: libsfml-graphics2.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         fonts-freefont-ttf
Description: Simple and fast cross-platform multimedia library - Graphics part
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 The Graphics library contains all the OpenGL and drawing code. It needs the
 Window library for Window creation.

Package: libsfml-network2.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple and fast cross-platform multimedia library - Network part
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 The Network Library brings basic networking support as needed by games.

Package: libsfml-system2.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple and fast cross-platform multimedia library - System part
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 The system library brings useful system utilities like multithreading and
 UNICODE handling.

Package: libsfml-window2.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple and fast cross-platform multimedia library - Window part
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 The Window library provides basic utilities for creating and managing Windows.

Package: libsfml2.3-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${misc:Depends},
         libsfml-audio2.3 (= ${binary:Version}) |
         libsfml-graphics2.3 (= ${binary:Version}) |
         libsfml-network2.3 (= ${binary:Version}) |
         libsfml-system2.3 (= ${binary:Version}) |
         libsfml-window2.3 (= ${binary:Version})
Description: Simple and fast cross-platform multimedia library - debug symbols
 SFML is an modern multimedia library offering a wide range of subsystems
 useful to produce an multimedia app. It offers OpenGL integration for
 Hardware accelerated Graphics, Windowing and Input support, Audio and
 Network facilities and supports GNU/Linux MS Windows and Mac OS X.
 .
 This package includes debug symbols for all SFML libraries.
