[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Robombs
Comment=Bomberman game in 3D
Icon=/usr/share/games/robombs/rbicon.png
Exec=robombs
Categories=Game;ArcadeGame;
X-Publisher=Egon Olsen
X-AppVersion=1.01
Terminal=false
