[Desktop Entry]
Version=1.0
Name=Marathon Infinity
Exec=/usr/games/marathon-infinity
Icon=/usr/share/pixmaps/marathon-infinity.png
Terminal=false
Type=Application
Categories=Game;
