#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -d marathon-infinity ] || mv marathon-infinity 'Marathon Infinity'

override_dh_auto_build:
	mv 'Marathon Infinity' marathon-infinity
	find marathon-infinity -type f -exec chmod -x {} \;
	find marathon-infinity -type d -empty -delete

override_dh_link:
	# link files cannot handle spaces or wildcards
	dh_link
	dh_link '/usr/share/fonts/truetype/ttf-marathon2/Squarish Sans CT Regular.ttf' '/usr/share/games/marathon-infinity/Plugins/XBLA_HUD/squarishsans/Squarish Sans CT Regular.ttf'
	dh_link '/usr/share/fonts/truetype/ttf-marathon2/Squarish Sans CT Regular SC.ttf' '/usr/share/games/marathon-infinity/Plugins/XBLA_HUD/squarishsans/Squarish Sans CT Regular SC.ttf'
	rm debian/marathon-infinity/usr/share/games/marathon-infinity/COPYING.txt
