Source: urbanterror
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               libsdl1.2debian,
               libxxf86vm1
Homepage: http://www.urbanterror.info
Standards-Version: 3.9.7

Package: urbanterror
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         urbanterror-data (>= ${source:Version}),
         curl,
         libsdl1.2debian
Suggests: urbanterror-server
Description: Urban Terror client binary
 This package contains the client binary for UrbanTerror.
 .
 Urban Terror could best be described as a Hollywood tactical shooter; it is
 realism based to a certain extent (environments/weapons/player models), but
 also goes by the motto "fun over realism" (fast gameplay and lots of action).
 This combination of reality and action results in a very unique, enjoyable and
 addictive game.

Package: urbanterror-data
Architecture: all
Depends: ${misc:Depends}
Description: Urban Terror maps
 This package contains the client binary for UrbanTerror.
 .
 Urban Terror could best be described as a Hollywood tactical shooter; it is
 realism based to a certain extent (environments/weapons/player models), but
 also goes by the motto "fun over realism" (fast gameplay and lots of action).
 This combination of reality and action results in a very unique, enjoyable and
 addictive game.

Package: urbanterror-server
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         urbanterror-data (>= ${source:Version})
Description: Urban Terror dedicated server binary
 This package contains the dedicated server for UrbanTerror.
 .
 Urban Terror could best be described as a Hollywood tactical shooter; it is
 realism based to a certain extent (environments/weapons/player models), but
 also goes by the motto "fun over realism" (fast gameplay and lots of action).
 This combination of reality and action results in a very unique, enjoyable and
 addictive game.
