#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/urbanterror/usr/lib/games/urbanterror:$(CURDIR)/debian/urbanterror-server/usr/lib/games/urbanterror

override_dh_install:
	dh_install
	[ ! -d debian/urbanterror-data/usr/share/games ] || find debian/urbanterror-data/usr/share/games -type f -exec chmod -x {} \;
	mkdir -m 755 -p debian/urbanterror/usr/lib/games/urbanterror
	mkdir -m 755 -p debian/urbanterror-server/usr/lib/games/urbanterror
ifeq ($(DEB_BUILD_ARCH),i386)
	 cp Quake3-UrT.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.$(DEB_BUILD_ARCH) debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
else
	 cp Quake3-UrT.x86_64 debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.x86_64 debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.x86_64 debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
endif
