#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
DEBIAN_DIR:=$(shell echo ${MAKEFILE_LIST} | awk '{print $$1}' | xargs dirname)
DEB_SOURCE_PACKAGE:=$(shell dpkg-parsechangelog | grep Source |cut -f2 -d" ")
VERSION:=$(shell dpkg-parsechangelog | grep Version | cut -d" " -f2 | cut -d"-" -f1 | sed -r 's/1\://')
UVERSION:=$(shell echo $(VERSION) | sed -r 's/\.//')
LVERSION:=$(shell echo $(UVERSION) | cut -d"." -f1 )
RVERSION:=$(shell echo $(UVERSION) | cut -d"." -f2 )
TMPDIR:=$(shell mktemp -dp./)


get-orig-source:
	cd ${DEBIAN_DIR}/..
	uscan --force-download --no-symlink
	unzip ../UrbanTerror$(LVERSION)_full$(RVERSION).zip -d $(TMPDIR)
	cd $(TMPDIR)/UrbanTerror$(LVERSION); \
	tar czvf ../../../${DEB_SOURCE_PACKAGE}_$(VERSION).orig.tar.gz *
	rm ../UrbanTerror$(LVERSION)_full$(RVERSION).zip
	rm -rf ${TMPDIR}

%:
	dh $@

#override_dh_shlibdeps:
#	dh_shlibdeps -l$(CURDIR)/debian/urbanterror/usr/lib/games/urbanterror:$(CURDIR)/debian/urbanterror-server/usr/lib/games/urbanterror

override_dh_install:
	dh_install
	[ ! -d debian/urbanterror-data/usr/share/games ] || find debian/urbanterror-data/usr/share/games -type f -exec chmod -x {} \;
	mkdir -m 755 -p debian/urbanterror/usr/lib/games/urbanterror
	mkdir -m 755 -p debian/urbanterror-server/usr/lib/games/urbanterror
ifeq ($(DEB_BUILD_ARCH),i386)
	 cp Quake3-UrT.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.$(DEB_BUILD_ARCH) debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
else
	 cp Quake3-UrT.x86_64 debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.x86_64 debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.x86_64 debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
endif
