#!/usr/bin/make -f
PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SSource)
VER  ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog -SVersion | cut -d- -f1 | cut -d: -f2)

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/urbanterror/usr/lib/games/urbanterror:$(CURDIR)/debian/urbanterror-server/usr/lib/games/urbanterror

override_dh_install:
	dh_install
	[ ! -d debian/urbanterror-data/usr/share/games ] || find debian/urbanterror-data/usr/share/games -type f -exec chmod -x {} \;
	mkdir -m 755 -p debian/urbanterror/usr/lib/games/urbanterror
	mkdir -m 755 -p debian/urbanterror-server/usr/lib/games/urbanterror
ifeq ($(DEB_BUILD_ARCH),i386)
	 cp Quake3-UrT.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.$(DEB_BUILD_ARCH) debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.$(DEB_BUILD_ARCH) debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
else
	 cp Quake3-UrT.x86_64 debian/urbanterror/usr/lib/games/urbanterror/Quake3-UrT
#	 cp UrTUpdater.x86_64 debian/urbanterror/usr/lib/games/UrTUpdater
	 cp Quake3-UrT-Ded.x86_64 debian/urbanterror-server/usr/lib/games/urbanterror/Quake3-UrT-Ded
endif

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))
	@

$(PKG)_$(VER)$(DTYPE).orig.tar.xz:
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	@echo "# Extracting..."
	unzip *.zip \
	&& mv UrbanTerror42 $(PKG)-$(VER) \
	|| $(RM) -r $(PKG)-$(VER)
	@echo "# Cleaning-up..."
	cd $(PKG)-$(VER) \
	&& find . -depth -type f -iname '*.dll' -exec $(RM) {} \; -printf 'removed %p\n' \
	&& find . -depth -type f -iname '*.exe' -exec $(RM) {} \; -printf 'removed %p\n' \
	&& find . -depth -type f -iname '*.reg' -exec $(RM) {} \; -printf 'removed %p\n' \
	&& find . -depth -type d -iname 'Quake3-UrT.app' -exec $(RM) -r {} \; -printf 'removed %p\n' \
	&& find . -depth -type d -iname 'UrTUpdater.app' -exec $(RM) -r {} \; -printf 'removed %p\n'
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
