[Desktop Entry]
Version=1.0
Name=UrbanTerror
Exec=urbanterror
Icon=urbanterror
Comment=Play UrbanTerror; a realism based, yet fun first person shooter.
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
