[Desktop Entry]
Name=UrbanTerror
Comment=Play UrbanTerror; a realism based, yet fun first person shooter.
Encoding=UTF-8
Exec=urbanterror
Icon=urbanterror
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Game;
