#!/usr/bin/make -f
%:
	dh $@

PACKAGE_NAME=speed-dreams-more-hq-cars-and-tracks

override_dh_install:
	dh_install
	find $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2 -type f -execdir chmod -x {} \;
	chmod +x $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2/tracks/road/ole-road-1/generate-src.sh
	# Delete non-wanted files
	find $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2/ -name CMakeLists.txt -delete
	rm $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2/config/raceman/championship.xml
	rm $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2/config/raceman/championship-supercars.xml
