Source: vavoom
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 5), zlib1g-dev,
 libpng12-dev, libjpeg62-dev, libsdl-mixer1.2-dev,
 libopenal-dev, libvorbis-dev, libmad0-dev,
 libmikmod2-dev, libflac-dev, cmake,
 libwxgtk2.8-dev, libflac++-dev, quilt
Standards-Version: 3.9.1
Homepage: http://vavoom-engine.com

Package: vavoom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, autodownloader, unzip
Description: Vavoom engine
 Vavoom is a source port based on sources of Doom, Heretic,
 Hexen and a little bit from Quake.
