[Desktop Entry]
Name=Vavoom - Doom
Comment=Doom Shareware launcher, will automatically download the needed data-files
Exec=doom-shareware
Icon=doom-logo
Terminal=false
Type=Application
Categories=Game;ActionGame;
