Source: bofh
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libsdl1.2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/neuromancer/BOFH

Package: bofh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bofh-data (= ${source:Version})
Description: Servers Under Siege is a top-down action game
 BOFH is a top-down shooter that takes place in a school.
 You're a mean administrator and have to shoot bad guys,
 take their weapons and disarm bombs attached to server
 stacks by finding notes that tell you in what order to
 cut the wires!

Package: bofh-data
Architecture: all
Depends: ${misc:Depends}
Description: Servers Under Siege is a top-down action game (data package)
 BOFH is a top-down shooter that takes place in a school.
 You're a mean administrator and have to shoot bad guys,
 take their weapons and disarm bombs attached to server
 stacks by finding notes that tell you in what order to
 cut the wires!
 .
 (This package contains the data files).
