Source: irrlamb
Section: games
Priority: optional
Maintainer: João Pinto <joao.pinto@getdeb.net>
Uploaders: Marco Rodrigues <gothicx@sapo.pt>
Build-Depends: debhelper (>= 9),
               cmake,
               libboost-filesystem-dev,
               liblua5.2-dev, 
               libglu1-mesa-dev,
               libxxf86vm-dev,
               libxext-dev,
               libboost-date-time-dev,
               libirrlicht-dev,
               libsqlite3-dev,
               libopenal-dev,
               libxrandr-dev,
               libbullet-dev,
               libfreetype6-dev,
               libvorbis-dev
Standards-Version: 3.9.6
Homepage: https://github.com/jazztickets/irrlamb

Package: irrlamb
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         irrlamb-data (= ${source:Version})
Description: 3D Physics Game
 3D game that involves a lot of physics and frustrating gameplay.

Package: irrlamb-data
Architecture: all
Depends: ${misc:Depends},
         fonts-croscore,
         fonts-roboto
Description: 3D Physics Game - data files
 3D game that involves a lot of physics and frustrating gameplay.
 .
 (This package contains the data files)
