#!/usr/bin/make -f
%:
	dh $@

PACKAGE_NAME=speed-dreams-hq-cars-and-tracks

override_dh_install:
	dh_install
	find $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2 -type f -execdir chmod -x {} \;
	# Delete non-wanted files
	find $(CURDIR)/debian/$(PACKAGE_NAME)/usr/share/games/speed-dreams-2/ -name CMakeLists.txt -delete
