Source: ogre1.8
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               pkg-config, libfreeimage-dev,
               libfreetype6-dev,
               libz-dev,
               libzzip-dev,
               libglu1-mesa-dev | libglu-dev,
               libgl1-mesa-dev | libgl-dev,
               libxrandr-dev,
               libxaw7-dev,
               libxt-dev,
               nvidia-cg-toolkit [!lpia],
               doxygen,
               graphviz,
               libois-dev,
               libboost1.48-all-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.ogre3d.org

Package: libogre1.8-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends},
         libogremain1.8 (= ${binary:Version}),
         libogrepaging1.8 (= ${binary:Version}),
         libogreterrain1.8 (= ${binary:Version}),
         libogreproperty1.8 (= ${binary:Version}),
         libogrertshadersystem1.8 (= ${binary:Version}),
         libfreetype6-dev,
         libxaw7-dev,
         libboost1.48-all-dev,
         libzzip-dev
Description: Object-oriented Graphics Rendering Engine (development files)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the headers needed to develop with Ogre.

Package: libogremain1.8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         nvidia-cg-toolkit
Suggests: libogreterrain1.8,
          libogreproperty1.8,
          libogrepaging1.8,
          libogrertshadersystem1.8
Description: Object-oriented Graphics Rendering Engine (core libraries)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the Ogre library and plugins.

Package: libogremain1.8-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libogremain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (core debug libraries)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains debug versions of the Ogre core library and plugins.

Package: libogreterrain1.8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libogremain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (terrain library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the Ogre Terrain component.

Package: libogreterrain1.8-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libogreterrain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (terrain debug library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the debug libraries for Ogre's Terrain component.

Package: libogrepaging1.8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libogremain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (Paging library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the Ogre Paging component.

Package: libogrepaging1.8-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libogrepaging1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (Paging debug library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the debug libraries for Ogre's Paging component.

Package: libogreproperty1.8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libogremain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (property library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the Ogre Property component.

Package: libogreproperty1.8-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libogreproperty1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (property debug library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the debug libraries for Ogre's Property component.

Package: libogrertshadersystem1.8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libogremain1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (RTShaderSystem library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the Ogre RTShaderSystem component.

Package: libogrertshadersystem1.8-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
         libogrertshadersystem1.8 (= ${binary:Version})
Description: Object-oriented Graphics Rendering Engine (RTShaderSystem debug library)
 Ogre is a scene-oriented, flexible 3D engine written in C++ designed
 to make it easier and more intuitive for developers to produce applications
 utilising hardware-accelerated 3D graphics. The class library abstracts all
 the details of using the underlying system libraries like Direct3D and
 OpenGL and provides an interface based on world objects and other intuitive
 classes.
 .
 This package contains the debug libraries for Ogre's RTShaderSystem component.
