#!/usr/bin/make -f
%:
	dh $@

override_dh_clean:
	dh_clean
	ant clean

override_dh_auto_build:
	ant

override_dh_install:
	dh_install
	chmod +x debian/megamek/usr/share/games/megamek/docs/stats.pl
	find debian/megamek/usr -type d -empty -delete
