[Desktop Entry]
Version=1.0
Type=Application
Name=Freedroid RPG
Comment=Isometric role playing game
TryExec=/usr/games/freedroidRPG
Exec=/usr/games/freedroidRPG
Categories=Game;RolePlaying;
Icon=/usr/share/pixmaps/freedroidrpg.xpm

