#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS += \
	--bindir=/usr/games/ \
	--datarootdir=/usr/share/games \
	--disable-editors

CFLAGS += -DDEB_VERSION=\\\"$(DEB_VERSION)\\\"

DEB_DH_INSTALL_SOURCEDIR = debian/tmp/

update-config::
	for f in debian/copyright ; do \
		echo $f ; \
	done
	chmod a-x graphics/*/*.png graphics/*/*.offset
	rm -f graphics/*/*/*.sh graphics/*/*.sh graphics/*.sh graphics/*.py sound/*.py
	touch configure

clean::

