Source: libpacketstream
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6), cmake
Standards-Version: 3.8.3
Section: libs
Homepage: http://nullkey.ath.cx/git/packetstream/

Package: libpacketstream-dev
Section: libdevel
Architecture: any
Depends: libpacketstream0 (= ${binary:Version})
Description: Library implementation of a thread-safe ring buffer (header files)
 Thread-safe ring buffer.
 .
 Used by glc.
 .
 (This package contains the header files)

Package: libpacketstream0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library implementation of a thread-safe ring buffer
 Thread-safe ring buffer.
 .
 Used by glc.
