#!/usr/bin/make -f

DEB_BUILD_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)

ifeq ($(DH_VERBOSE),1)
	EXTRA_CMAKE_FLAGS += -DCMAKE_VERBOSE_MAKEFILE=ON
endif

PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SSource)
VER  = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SVersion | cut -d- -f1)

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf builddir

override_dh_auto_build:
	mkdir -p builddir
	cd builddir && \
		cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_C_FLAGS="$(CFLAGS)" \
			-DCMAKE_LD_FLAGS="-Wl,-z,defs" -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
			-DENABLE_LIRC=ON -DCMAKE_SKIP_RPATH=ON $(EXTRA_CMAKE_FLAGS)
	$(MAKE) -C builddir

override_dh_auto_install:
	$(MAKE) -C builddir DESTDIR=$(CURDIR)/debian/tmp install

override_dh_install:
	dh_install --fail-missing

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))
	@

UURL = svn://svn.code.sf.net/p/vbam/code/trunk
REV   = $(shell echo $(VER) | cut -d. -f4)
$(PKG)_$(VER).orig.tar.xz: $(info I: REV=$(REV))
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	svn checkout --config-option config:miscellany:use-commit-times=yes -r $(REV) \
	    $(UURL) $(PKG)-$(VER) \
	|| $(RM) -r $(PKG)-$(VER)
	@echo "Clean-up..."
	cd $(PKG)-$(VER) \
	&& find . -depth -name ".svn" -exec $(RM) -r '{}' \;
	@echo "# Packing..."
	find -L $(PKG)-$(VER) -xdev -type f -print | LC_ALL=C sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
