#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	$(MAKE) maps -j2
	cd $(CURDIR)/base \
	&& zip -r 0textures.pk3 . -i textures/\*.jpg textures/\*.tga textures/\*.png \
	&& zip -r 0maps.pk3 . -i maps/\*.bsp maps/\*.ump

override_dh_clean:
	dh_clean
	find $(CURDIR) -type f -name '*.bsp' -name '*.pk3' -delete
