Source: desmume
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Pascal Giard <pascal@debian.org>,
 Evgeni Golov <evgeni@debian.org>
Build-Depends: debhelper (>= 5), libglade2-dev, libgtk2.0-dev, libsdl1.2-dev,
 libosmesa6-dev, libagg-dev, intltool, libgtkglext1-dev
Standards-Version: 3.9.3
Homepage: http://desmume.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-games/packages/trunk/desmume/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-games/packages/trunk/desmume/?op=log

Package: desmume
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nintendo DS emulator
 DeSmuME is a Nintendo DS emulator running homebrew demos and commercial games.
 .
 This package includes all three binaries:
   * desmume: gtk user interface;
   * desmume-glade: gtk-glade user interface;
   * desmume-cli: command line user interface.

