#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	chmod -x app_settings/settings.xml character/invisible_head.tga app_settings/logcontrol.xml
	dh_install
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/bin/SLVoice
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libSDL-1.2.so.0.11.3
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libaprutil-1.so.0.4.1
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libdirectfb-1.4.so.5.0.4
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libfusion-1.4.so.5.0.4
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libvivoxplatform.so
	[ ! -d debian/snowstorm-bin ] || chrpath -d debian/snowstorm-bin/usr/share/games/snowstorm/lib/libvivoxsdk.so

	rm -f debian/snowstorm-data/usr/share/games/snowstorm/fonts/DejaVu-license.txt

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/snowstorm-bin/usr/share/games/snowstorm/lib
