Source: jngl
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 10),
               libboost-dev,
               libopenal-dev,
               libogg-dev,
               libfreetype6-dev,
               libpng-dev,
               libjpeg-dev,
               libvorbis-dev,
               libglu1-mesa-dev,
               mesa-common-dev,
               libxxf86vm-dev,
               libxext-dev,
               x11proto-core-dev,
               libfontconfig1-dev,
               pkg-config,
               scons,
               libglib2.0-dev,
               python3.5-dev,
               libboost-python-dev,
               libglew-dev,
               libwebp-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://jngl.watteimdocht.de

Package: libjngl-dev
Section: libdevel
Architecture: any
Depends: libjngl1.1.0 (= ${binary:Version}),
         ${misc:Depends}
Description: Easy to use 2D game library using OpenGL and OpenAL (headers)
 JNGL aims to be one of the easiest 2D game libraries for
 C++ and Python. It uses OpenGL for rendering images,
 can output antialiasied UTF-8 text using FreeType,
 display BMP, PNG, and JPEG images and play Ogg audio
 files via OpenAL.
 (This package contains the development files)

Package: libjngl1.1.0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Conflicts: libjngl0.9.5
Replaces: libjngl0.9.5
Description: Easy to use 2D game library using OpenGL and OpenAL
 JNGL aims to be one of the easiest 2D game libraries for
 C++ and Python. It uses OpenGL for rendering images,
 can output antialiasied UTF-8 text using FreeType,
 display BMP, PNG, and JPEG images and play Ogg audio
 files via OpenAL.
