#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -d marathon2 ] || mv marathon2 'Marathon 2'

override_dh_auto_build:
	mv 'Marathon 2' marathon2
	find marathon2 -type f -exec chmod -x {} \;
	find marathon2 -type d -empty -delete

override_dh_link:
	# link files cannot handle spaces or wildcards
	mv debian/marathon2/usr/share/games/marathon2/Plugins/Marathon\ 2\ Theme debian/marathon2/usr/share/games/marathon2/Plugins/Marathon_2_Theme
	dh_link
	dh_link '/usr/share/fonts/truetype/ttf-marathon2/Squarish Sans CT Regular.ttf' '/usr/share/games/marathon2/Plugins/XBLA_HUD/squarishsans/Squarish Sans CT Regular.ttf'
	dh_link '/usr/share/fonts/truetype/ttf-marathon2/Squarish Sans CT Regular SC.ttf' '/usr/share/games/marathon2/Plugins/XBLA_HUD/squarishsans/Squarish Sans CT Regular SC.ttf'
	mv debian/marathon2/usr/share/games/marathon2/Plugins/Marathon_2_Theme debian/marathon2/usr/share/games/marathon2/Plugins/Marathon\ 2\ Theme
	rm debian/marathon2/usr/share/games/marathon2/COPYING.txt
