Source: extremetuxracer
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Alexander Reichle-Schmehl <tolimar@debian.org>, Gonéri Le Bouder <goneri@rulezlan.org>
Build-Depends: debhelper (>= 9),
               tcl8.5-dev,
               libxmu-dev,
               libpng-dev,
               libsdl1.2-dev,
               libsdl-mixer1.2-dev,
               libsdl-image1.2-dev,
               libfreetype6-dev,
               docbook-to-man,
               sharutils,
               libgl1-mesa-dev,
               libxi-dev,
               pkg-config,
               autotools-dev,
               dpkg-dev (>= 1.16.0)
Homepage: http://www.extremetuxracer.com/
Standards-Version: 3.9.4

Package: extremetuxracer
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         extremetuxracer-data (>= ${source:Version})
Recommends: extremetuxracer-extras
Replaces: planetpenguin-racer (<= 0.3.1-11)
Breaks: planetpenguin-racer (<= 0.3.1-11)
Description: 3D racing game featuring Tux, the Linux penguin
 Extreme Tux Racer, or etracer as it is called for short, is a simple OpenGL
 racing game featuring Tux, the Linux mascot. The goal of the game is to slide
 down a snow- and ice-covered mountain as quickly as possible, avoiding the
 trees and rocks that will slow you down.
 .
 Collect herrings and other goodies while sliding down the hill, but avoid fish
 bones.
 .
 This game is based on the GPL version of the famous game TuxRacer.
 .
 You must have working 3D acceleration or this game will run quite slowly.

Package: extremetuxracer-dbg
Architecture: any
Priority: extra
Section: debug
Depends: extremetuxracer (= ${binary:Version}),
         ${misc:Depends}
Description: 3D racing game featuring Tux, the Linux penguin (debugging symbols)
 Extreme Tux Racer, or etracer as it is called for short, is a simple OpenGL
 racing game featuring Tux, the Linux mascot. The goal of the game is to slide
 down a snow- and ice-covered mountain as quickly as possible, avoiding the
 trees and rocks that will slow you down.
 .
 Collect herrings and other goodies while sliding down the hill, but avoid fish
 bones.
 .
 This game is based on the GPL version of the famous game TuxRacer.
 .
 You must have working 3D acceleration or this game will run quite slowly.
 .
 This package contains the debugging symbols for extremetuxracer.

Package: extremetuxracer-data
Architecture: all
Recommends: extremetuxracer
Replaces: planetpenguin-racer-data,
          planetpenguin-racer-extra
Depends: ${misc:Depends}
Description: data files for the game Extreme Tux Racer
 Extreme Tux Racer, or etracer as it is called for short, is a simple OpenGL
 racing game featuring Tux, the Linux mascot. The goal of the game is to slide
 down a snow- and ice-covered mountain as quickly as possible, avoiding the
 trees and rocks that will slow you down.
 .
 This game is based on the GPL version of famous game TuxRacer.
 .
 This package contains data like graphics and courses.  If you want to play the
 game, you need to install the package extremetuxracer.

Package: planetpenguin-racer
Architecture: all
Depends: extremetuxracer (>= ${source:Version}),
         ${misc:Depends}
Description: Dummy transition package for extremetuxracer
 This is a dummy package to ease the transition to extremetuxracer, the fork of
 planetpenguin-racer.

Package: planetpenguin-racer-dbg
Architecture: all
Section: debug
Priority: extra
Depends: planetpenguin-racer (= ${binary:Version}),
         extremetuxracer-dbg (>= ${source:Version}),
         ${misc:Depends}
Description: Dummy transition package for extremetuxracer
 This is a dummy package to ease the transition to extremetuxracer, the fork of
 planetpenguin-racer.

