[Desktop Entry]
Version=1.0
Type=Application
Name=Extreme Tux Racer
GenericName=Arcade Game
GenericName[de]=Arkade-Spiel
GenericName[ro_RO]=Joc de arcadă
Comment=Race a penguin down a mountain
Comment[de]=Rutsche mit einem Pinguin einen Hügel hinab
Comment[ro_RO]=Curse cu un pinguin pe munte, la vale
Icon=etr

Exec=etr
Terminal=false
StartupNotify=false

Categories=Game;ArcadeGame;
