Source: capitan-sevilla
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libvorbis-dev,
               liballegro4.2-dev,
               libfreetype6-dev,
               libpng12-dev
Standards-Version: 3.9.4
Homepage: http://computeremuzone.com/ficha.php?id=754&l=en

Package: capitan-sevilla
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         capitan-sevilla-data (= ${source:Version})
Description: Save Seville from the evil Dr. Torrebruno
 A calm day begins in Seville. Mariano López goes to his job
 as sausage delivery man. Meanwhile, at Santiponce's
 interestratospheric devices centre, everybody is getting
 ready to the first fully Spanish rocket launch, designed by
 famous Dr. Torrebruno, an eminent nuclear physicist who had
 to leave the project prematurely, due to a strange mental
 disease. But nobody expected the rocket to suffer a sudden
 variation on its path, and falls right on the truck that
 Mariano López uses to transport a blood sausages cargo.
 Mariano, unconscious, lies on the floor besides his sausages
 and the truck's wreckage, spread all around. Some hours
 later, he wakes up really hungry, and eats an entire box
 of the radiated blood sausages. But... what the hell is
 happening!? Mariano is becoming different: Every muscle
 grows, he becomes taller, his ugly face becomes a pretty
 superhero's, Captain 'S', who discovers that everything
 was part of the evil Torrebruno's plan, with the true
 intention of ruling the World, starting by Seville.

Package: capitan-sevilla-data
Architecture: all
Depends: ${misc:Depends}
Description: Save Seville from the evil Dr. Torrebruno
 A calm day begins in Seville. Mariano López goes to his job
 as sausage delivery man. Meanwhile, at Santiponce's
 interestratospheric devices centre, everybody is getting
 ready to the first fully Spanish rocket launch, designed by
 famous Dr. Torrebruno, an eminent nuclear physicist who had
 to leave the project prematurely, due to a strange mental
 disease. But nobody expected the rocket to suffer a sudden
 variation on its path, and falls right on the truck that
 Mariano López uses to transport a blood sausages cargo.
 Mariano, unconscious, lies on the floor besides his sausages
 and the truck's wreckage, spread all around. Some hours
 later, he wakes up really hungry, and eats an entire box
 of the radiated blood sausages. But... what the hell is
 happening!? Mariano is becoming different: Every muscle
 grows, he becomes taller, his ugly face becomes a pretty
 superhero's, Captain 'S', who discovers that everything
 was part of the evil Torrebruno's plan, with the true
 intention of ruling the World, starting by Seville.
