#!/usr/bin/make -f

override_dh_auto_build:
	$(MAKE) -C dependencies/alfont
	$(MAKE) -C dependencies/alogg
	dh_auto_build

override_dh_auto_clean:
	$(MAKE) -C dependencies/alfont clean
	$(MAKE) -C dependencies/alogg clean
	dh_auto_clean

override_dh_auto_install:

override_dh_install:
	dh_install
	cp capitan debian/capitan-sevilla/usr/lib/games/capitan-sevilla/capitan-sevilla
	cp extra/capitan.desktop debian/capitan-sevilla/usr/share/applications/capitan-sevilla.desktop
	cp extra/capitan.png debian/capitan-sevilla/usr/share/pixmaps/capitan-sevilla.png

%:
	dh --with quilt $@
