Source: nmm-qt-client
Section: games
Priority: extra
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: cdbs,
               debhelper (>= 9),
               libespeak-dev,
               libqt4-dev (>= 4.4.0),
               netmaumau-dev (>= 0.16~),
               pkg-config
Standards-Version: 3.9.5
Homepage: http://sourceforge.net/projects/netmaumau/

Package: nmm-qt-client
Architecture: any
Depends: libnetmaumaucommon4 (>= 0.16~),
         libnetmaumauclient3 (>= 0.16~),
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: netmaumau-server
Description: Qt client for NetMauMau
 Qt client for the NetMauMau server. It offers a complete
 playable client for playing against other players or
 AI opponents over the network.
 It can start a local server if installed and supports a
 list of multiple servers.

Package: nmm-qt-client-dbg
Architecture: any
Section: debug
Depends: nmm-qt-client (= ${binary:Version}),
         ${misc:Depends}
Description: Qt client for NetMauMau -- debugger symbols
 Qt client for NetMauMau.
 .
 (This package contains the debugging symbols).
