Source: djl
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               python-all-dev
Standards-Version: 3.9.5
Homepage: http://en.djl-linux.org/

Package: djl
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-qt4
Description: Game Manager
 Djl is an open-source (GPL licensed) game manager
 written in Python 2.5 for the GNU/Linux Operating
 Systems. It is inspired by Valve's Steam software
 for Windows.
