Source: corsix-th
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libsdl2-dev,
               libsdl2-mixer-dev,
               liblua5.1-0-dev,
               libfreetype6-dev,
               wx2.8-headers,
               libavcodec-dev,
               libavformat-dev,
               libavdevice-dev,
               libswscale-dev,
               libpostproc-dev,
               libluajit-5.1-dev
Standards-Version: 3.9.5
Homepage: https://code.google.com/p/corsix-th/

Package: corsix-th
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         corsix-th-data (= ${source:Version}),
         lua-filesystem
Recommends: theme-hospital-full-data | theme-hospital-demo-data | game-data-packager
Description: Open source clone of Theme Hospital
 As computers evolve, it is risked losing some
 classic games.
 Bullfrog's Theme Hospital, published in 1997, is a
 classic simulation game, but getting it to run
 natively on modern operating systems is getting
 progressively harder. 
 .
 This project aims to reimplement the game engine
 of Theme Hospital, and be able to load the original
 game data files. This means that you will need a
 purchased copy of Theme Hospital, or a copy of the
 demo, in order to use CorsixTH. After most of the
 original engine has been reimplemented in open
 source code, the project will serve as a base from
 which extensions and improvements to the original
 game can be made.

Package: corsix-th-data
Architecture: all
Depends: ${misc:Depends}
Description: Open source clone of Theme Hospital (data package)
 As computers evolve, it is risked losing some
 classic games.
 Bullfrog's Theme Hospital, published in 1997, is a
 classic simulation game, but getting it to run
 natively on modern operating systems is getting
 progressively harder. 
 .
 This project aims to reimplement the game engine
 of Theme Hospital, and be able to load the original
 game data files. This means that you will need a
 purchased copy of Theme Hospital, or a copy of the
 demo, in order to use CorsixTH. After most of the
 original engine has been reimplemented in open
 source code, the project will serve as a base from
 which extensions and improvements to the original
 game can be made.
 .
 (This package contains the data files)
