#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_build:
	iconv -f ISO-8859-1 -t UTF-8 License.txt > debian/copyright
	chmod a-x *.so *.npk *.txt

override_dh_installchangelogs:
	dh_installchangelogs PatchNotes.txt

override_dh_strip:
	# libsteam_api.so is unstripped, but contains no debug information
	strip -s $(CURDIR)/debian/thegame/usr/lib/thegame/libsteam_api.so
	dh_strip --dbg-package=thegame-dbg

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/thegame/usr/lib/thegame/

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
