Source: openra
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               mono-gmcs,
               cli-common-dev (>= 0.5.7),
               libgl1-mesa-dev,
               libsdl2-dev,
               libsdl2-image-dev,
               libsdl2-mixer-dev,
               libsdl2-ttf-dev,
               libgles2-mesa-dev,
               libgles1-mesa-dev,
               libsmpeg-dev,
               libopenal-dev,
               libalut-dev,
               liblua5.1-0-dev,
               curl,
               unzip
Standards-Version: 3.9.6
Homepage: http://openra.net/

Package: openra
Architecture: all
Depends: ${misc:Depends},
         ${cli:Depends},
         libcg,
         ttf-freefont,
         ttf-openra (= ${source:Version})
Description: Open-source implementation of the Red Alert engine
 OpenRA is a Libre/Free Real Time Strategy game engine
 supporting early Westwood games like Command & Conquer
 and Command & Conquer: Red Alert and Dune 2000.
 .
 Distributed mods include a reimagining and updating of
 both the Red Alert and Command & Conquer multiplayer games.

Package: ttf-openra
Architecture: all
Depends: ${misc:Depends}
Description: Open-source implementation of the Red Alert engine (fonts)
 OpenRA is a Libre/Free Real Time Strategy game engine
 supporting early Westwood games like Command & Conquer
 and Command & Conquer: Red Alert and Dune 2000.
 .
 Distributed mods include a reimagining and updating of
 both the Red Alert and Command & Conquer multiplayer games.
 .
 (This package contains the fonts).
