#!/usr/bin/make -f
%:
	dh $@ --with cli

override_dh_auto_configure:
	cd thirdparty && ./fetch-thirdparty-deps.sh
	make dependencies

override_dh_auto_test:
	cp thirdparty/download/* .
	dh_auto_test

override_dh_auto_install:
	dh_auto_install -- prefix=/usr datadir=/usr/share/games libexecdir=/usr/share/games bindir=/usr/games gameinstalldir=/usr/share/games/openra

override_dh_clideps:
	dh_clideps -d --exclude-moduleref=i:/System/Library/Frameworks/Cocoa.framework/Cocoa \
	              --exclude-moduleref=i:libobjc.dylib \
	              --exclude-moduleref=i:libdl.dylib
