#!/usr/bin/make -f
%:
	dh $@ --with cli

override_dh_auto_install:
	dh_auto_install -- prefix=/usr datadir=/usr/share/games bindir=/usr/games

override_dh_install:
	dh_install
	[ ! -f debian/openra/usr/share/games/openra/mods/cnc/maps/shellmap/map.yaml ] || chmod -x debian/openra/usr/share/games/openra/mods/cnc/maps/shellmap/map.yaml
	[ ! -f debian/openra/usr/share/games/openra/mods/cnc/maps/shellmap/map.bin ] || chmod -x debian/openra/usr/share/games/openra/mods/cnc/maps/shellmap/map.bin

override_dh_clideps:
	dh_clideps -d --exclude-moduleref=i:/System/Library/Frameworks/Cocoa.framework/Cocoa \
	              --exclude-moduleref=i:libobjc.dylib \
	              --exclude-moduleref=i:libdl.dylib \
	              --exclude-moduleref=i:cg.dll \
	              --exclude-moduleref=i:cgGL.dll
