#!/usr/bin/make -f
%:
	dh $@ --with cli

build: build-stamp
build-stamp:
	dh_testdir

	./configure
	make version
	make cli-dependencies
	make core
	make tools

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	make clean

	dh_clean

override_dh_install:
	make prefix=/usr bindir=/usr/games install-all
	make prefix=/usr bindir=/usr/games install-linux-shortcuts

override_dh_clideps:
	dh_clideps -d --exclude-moduleref=i:/System/Library/Frameworks/Cocoa.framework/Cocoa \
	              --exclude-moduleref=i:libobjc.dylib \
	              --exclude-moduleref=i:libdl.dylib \
