Source: krosswordpuzzle
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libqt4-dev,
               libkdegames-dev,
               kdelibs5-dev
Standards-Version: 3.9.3
Homepage: http://kde-apps.org/content/show.php/KrossWordPuzzle?content=111726

Package: krosswordpuzzle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Crossword game and editor
 Crossword playing game and editor for KDE 4. You can use it to create
 new crosswords. It can open and save *.puz-files (AcrossLite) and
 it's own *.kwp-files (which are XML files). You can download lots
 of crosswords from within the game. You can also print crosswords.
