Source: pax-britannica
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~),
 liblua5.1-0-dev, mesa-common-dev, libglfw-dev, libportaudio-dev, libasound2-dev,
 libglu1-mesa-dev, libxrandr-dev
Standards-Version: 3.9.1
Homepage: http://paxbritannica.henk.ca/

Package: pax-britannica
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pax-britannica-data (= ${source:Version})
Description: One-button real-time strategy game
 Pax Britannica is a one-button real-time strategy
 game by No Fun Games. Up to four players battle
 it out underwater, struggling to be the last one standing!

Package: pax-britannica-data
Architecture: all
Depends: ${misc:Depends}
Description: One-button real-time strategy game (data package)
 Pax Britannica is a one-button real-time strategy
 game by No Fun Games. Up to four players battle
 it out underwater, struggling to be the last one standing!
 .
 (This package contains the data files.)
