#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -f dokidoki-support/*.o *.o
	rm -f pax-britannica

override_dh_auto_build:
	$(MAKE) linux EXTRA_CFLAGS=-I/usr/include/lua5.1

override_dh_auto_install:
