Source: aseprite
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libart-2.0-dev,
               liballegro4.2-dev,
               libpng12-dev,
               libfreetype6-dev,
               cmake
Standards-Version: 3.9.3
Homepage: http://www.aseprite.org/

Package: aseprite
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Animated sprites & pixel art editor
 ASE (now ASEPRITE, aka Allegro Sprite Editor) is an
 open source program to create animated
 sprites & pixel art.
 Sprites are little images that can be used in your
 website or in a video game. You can draw characters
 with movement, intros, textures, patterns, backgrounds,
 logos, color palettes, isometric levels, etc.
