#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

binary-post-install/gondola::
	chmod 644 $(CURDIR)/debian/gondola/usr/share/games/gondola/data/sounds/*.wav
