#!/usr/bin/make -f
PKD = $(abspath $(dir $(MAKEFILE_LIST)))
PKG = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SSource)
VER = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SVersion | cut -d- -f1)

#export DH_VERBOSE=1

export JAVA_HOME=/usr/lib/jvm/default-java

# Put depended upon jars in here
# Somehow this line caused triplea to not find the main class anymore:
# https://sourceforge.net/tracker/index.php?func=detail&aid=3542652&group_id=44492&atid=439737
#export CLASSPATH=/usr/share/java/commons-httpclient.jar:/usr/share/java/commons-logging.jar:/usr/share/java/commons-codec.jar:/usr/share/java/substance.jar:/usr/share/java/laf-widget.jar

%:
	dh $@ --with javahelper

override_dh_install:
	cp run-server.sh triplea-server
	cp triplea_unix.sh triplea
	dh_install
	-rm triplea-server triplea

override_dh_clean:
	find debian -name *.png -delete
	dh_clean

override_jh_depends:
	jh_depends -j

override_dh_installchangelogs:
	dh_installchangelogs changelog.txt

override_dh_auto_configure:
	dh_auto_configure
	convert icons/triplea_icon.png -resize 48x48 debian/icons/48x48/apps/triplea.png
	convert icons/triplea_icon.png -resize 64x64 debian/icons/64x64/apps/triplea.png
	convert icons/triplea_icon.png -resize 72x72 debian/icons/72x72/apps/triplea.png
	convert icons/triplea_icon.png -resize 96x96 debian/icons/96x96/apps/triplea.png
	convert icons/triplea_icon.png -resize 128x128 debian/icons/128x128/apps/triplea.png
	convert icons/triplea_icon.png -resize 192x192 debian/icons/192x192/apps/triplea.png
	cp icons/triplea_icon.png debian/icons/256x256/apps/triplea.png
	#convert icons/triplea_icon.png -resize 32x32 debian/triplea.xpm

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))
	@

$(PKG)_$(VER).orig.tar.xz:
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	@echo "# Extracting..."
	mkdir $(PKG)-$(VER) \
	&& tar -xf $(PKG)_$(VER).orig.tar.* --directory $(PKG)-$(VER) --strip-components 1 \
	|| $(RM) -r $(PKG)-$(VER)
	@echo "# Cleaning-up..."
	cd $(PKG)-$(VER) \
	&& $(RM) -r -v \
            doc/images/project-support.jpg
	#$(RM) -v $(PKG)_$(VER).orig.tar.*
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
