Source: pdiaspora-client
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), libsdl1.2-dev, libsdl-image1.2-dev,
 libsdl-ttf2.0-dev, libsdl-gfx1.2-dev, libgloox-dev, libcurl4-gnutls-dev
Standards-Version: 3.8.4
Homepage: http://www.nighsoft.com

Package: pdiaspora-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pdiaspora-client-data (= ${source:Version})
Description: 2D Space Trading MMORPG
 Project Diaspora is a 2D Space Trading MMORPG for Windows
 and Linux. Project Diaspora is a High quality,
 multi-player internet based game. Graphics are good,
 and game mechanics solid. Create your character or
 characters, buy a ship, outfit it with weapons, missiles,
 and equipment. Buy, transport and sell cargo at over a
 dozen planets in different zones of play.
 .
 Forge alliances, create guilds and wage wars with or
 against your fellow players. A definite must have for the
 online strategy game enthusiast.

Package: pdiaspora-client-data
Architecture: all
Depends: ${misc:Depends}
Description: 2D Space Trading MMORPG (data package)
 Project Diaspora is a 2D Space Trading MMORPG for Windows
 and Linux. Project Diaspora is a High quality,
 multi-player internet based game. Graphics are good,
 and game mechanics solid. Create your character or
 characters, buy a ship, outfit it with weapons, missiles,
 and equipment. Buy, transport and sell cargo at over a
 dozen planets in different zones of play.
 .
 Forge alliances, create guilds and wage wars with or
 against your fellow players. A definite must have for the
 online strategy game enthusiast.
 .
 (This package contains the data files)
