#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C src

override_dh_auto_clean:
	$(MAKE) -C src clean
	rm -f pdiaspora

override_dh_install:
	dh_install
	[ ! -d debian/pdiaspora-client-data/usr/share/games ] || \
	    ( find debian/pdiaspora-client-data/usr/share/games -type f -exec chmod 0644 {} \; ; \
	    find debian/pdiaspora-client-data/usr/share/games -type f -name Thumbs.db -delete )

override_dh_strip:
