Source: vegastrike
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libdmx-dev,
               libfontenc-dev,
               libfs-dev,
               libice-dev,
               libsm-dev,
               libx11-dev,
               libxau-dev,
               libxaw7-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxdamage-dev,
               libxdmcp-dev,
               libxext-dev,
               libxfixes-dev,
               libxfont-dev,
               libxft-dev,
               libxi-dev,
               libxinerama-dev,
               libxkbfile-dev,
               libxmu-dev,
               libxmuu-dev,
               libxpm-dev,
               libxrandr-dev,
               libxrender-dev,
               libxres-dev,
               libxss-dev,
               libxt-dev,
               libxtst-dev,
               libxv-dev,
               libxvmc-dev,
               libxxf86dga-dev,
               libxxf86vm-dev,
               x11proto-bigreqs-dev,
               x11proto-composite-dev,
               x11proto-core-dev,
               x11proto-damage-dev,
               x11proto-dmx-dev,
               x11proto-fixes-dev,
               x11proto-fonts-dev,
               x11proto-gl-dev,
               x11proto-input-dev,
               x11proto-kb-dev,
               x11proto-randr-dev,
               x11proto-record-dev,
               x11proto-render-dev,
               x11proto-resource-dev,
               x11proto-scrnsaver-dev,
               x11proto-video-dev,
               x11proto-xcmisc-dev,
               x11proto-xext-dev,
               x11proto-xf86bigfont-dev,
               x11proto-xf86dga-dev,
               x11proto-xf86dri-dev,
               x11proto-xf86vidmode-dev,
               x11proto-xinerama-dev,
               xserver-xorg-dev,
               xtrans-dev,
               x11-common,
               libjpeg-dev,
               libpng12-dev,
               libglu-dev,
               freeglut3-dev,
               libgtk2.0-dev,
               python-dev,
               libboost-dev,
               libboost-python-dev,
               libvorbis-dev,
               libavutil-dev,
               libswscale-dev,
               libavcodec-dev,
               libavformat-dev,
               libopenal-dev
Homepage: http://vegastrike.sourceforge.net/
Standards-Version: 3.9.6

Package: vegastrike
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         vegastrike-data
Recommends: vegastrike-extra,
            vegastrike-music,
            vegastrike-speech
Description: 3D OpenGL spaceflight simulator
 Vega Strike is a GPL 3D OpenGL Action RPG space sim that allows a player to
 trade and bounty hunt. You start in an old beat up Wayfarer cargo ship, with
 endless possibility before you and just enough cash to scrape together a life.
 Yet danger lurks in the space beyond.

Package: vegastrike-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         vegastrike (= ${binary:Version})
Description: 3D OpenGL spaceflight simulator (debug)
 Vega Strike is a GPL 3D OpenGL Action RPG space sim that allows a player to
 trade and bounty hunt. You start in an old beat up Wayfarer cargo ship, with
 endless possibility before you and just enough cash to scrape together a life.
 Yet danger lurks in the space beyond.
 This package includes debugging symbols.
