Source: gnome-2048
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               valac,
               dh-autoreconf,
               libgtk-3-dev,
               libclutter-1.0-dev,
               libclutter-gtk-1.0-dev,
               libgee-0.8-dev,
               libgames-support-dev,
               libglib2.0-dev,
               appstream-util,
               yelp-tools
Standards-Version: 3.9.6
Homepage: https://wiki.gnome.org/Apps/2048

Package: gnome-2048
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 2048 clone for GNOME
 2048 clone for GNOME
