Source: pyfa
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.5
Homepage: http://pyfa.sourceforge.net/

Package: pyfa
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python-wxgtk2.8,
         python-wxglade,
         python-sqlalchemy,
         python-dateutil,
         libcanberra-gtk-module
Recommends: python-matplotlib,
            python-numpy
Description: Python Fitting Assistant for the EVE-Online SciFi MMORPG
 pyfa is the Python Fitting Assistant,
 a standalone application to create fittings
 for the EVE-Online SciFi MMORPG.
