#!/usr/bin/make -f
%:
	dh $@ 

# don't run the setup.py as it is not meant to set up...
override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_install:

override_dh_install:
	dh_install
	find debian/pyfa/usr/share/games/pyfa -type f -exec chmod -x {} \;
