Source: stendhal
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 9),
               openjdk-8-jdk,
               ant,
               ant-optional
Standards-Version: 3.9.7
Homepage: http://stendhal.game-host.org/

Package: stendhal
Architecture: all
Depends: ${misc:Depends},
         openjdk-8-jre,
         fontconfig,
         jarwrapper,
         jayatana
Description: Multiplayer online adventures game
 Stendhal is a fully fledged multiplayer online
 adventures game (MMORPG) developed using the Arianne
 game development system.
