Source: stendhal
Section: games
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 9),
               openjdk-6-jdk | sun-java6-jdk,
               ant,
               ant-optional
Standards-Version: 3.9.3
Homepage: http://stendhal.game-host.org/

Package: stendhal
Architecture: all
Depends: ${misc:Depends},
         openjdk-6-jre | sun-java6-jre,
         fontconfig
Description: Multiplayer online adventures game
 Stendhal is a fully fledged multiplayer online
 adventures game (MMORPG) developed using the Arianne
 game development system.
