#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -d build ] || ant clean
	rm -rf build

override_dh_auto_configure:

override_dh_auto_build:
	ant

override_dh_auto_install:
	chmod -x build/lib/stendhal.jar
	chmod -x build/lib/stendhal-starter.jar

override_dh_installchangelogs:
	dh_installchangelogs doc/CHANGES.txt
