#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -rf legends

override_dh_auto_build:
	[ -d legends ] || ( tar xJf *.tar.xz )

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/legends/usr/lib/games/legends
