[Desktop Entry]
Version=1.0
Name=UFO: Alien Invasion
Comment=Turn-based tactical combat against hostile alien forces
Comment[de]=Rundenbasierendes Taktikspiel gegen feindliche außerirdische Streitkräfte
Exec=ufoai
Icon=ufoai
Terminal=false
Type=Application
Categories=Game;StrategyGame;
Keywords=combat;tactic;turn-based;real-time;aliens;action;strategy;fiction;
