[Desktop Entry]
Version=1.0
Name=UFORadiant
Comment=Map Editor for UFO: Alien Invasion
Comment[de]=Karten-Editor für UFO: Alien Invasion
Exec=uforadiant
Icon=uforadiant
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-ufomap
Keywords=combat;tactic;turn-based;real-time;aliens;action;strategy;fiction;map;editor;quake;
