[Desktop Entry]
Version=1.0
Name=Numbezzled
Exec=/usr/games/numbezzled
Icon=numbezzled
Terminal=false
Type=Application
Categories=Game;
Keywords=puzzle
