#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_install:
	mkdir -p debian/tmp/usr/lib/games/choria
	mv debian/tmp/usr/share/games/choria/choria debian/tmp/usr/lib/games/choria/
	dh_install --list-missing
