#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -rf builddir

override_dh_auto_configure:
	# Add here commands to configure the package.
	mkdir -p builddir
	cd builddir && cmake .. -DCMAKE_INSTALL_PREFIX=/usr \
	                        -DCMAKE_C_FLAGS_RELEASE:STRING="-O2 -msse -mmmx -fomit-frame-pointer" \
	                        -DCMAKE_C_FLAGS="$(CFLAGS)" \
	                        -DCMAKE_LD_FLAGS="-Wl,-z,defs" \
	                        -DCMAKE_BUILD_TYPE:STRING="Release" \
	                        -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
	                        -DCMAKE_SKIP_RPATH=ON \
	                        -DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_build:
	# Add here commands to compile the package.
	$(MAKE) -C builddir

override_dh_auto_install:
	$(MAKE) -C builddir DESTDIR=$(CURDIR)/debian/tmp install

override_dh_install:
	dh_install --sourcedir=$(CURDIR)/debian/tmp --fail-missing
