#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
ifeq ($(DEB_BUILD_ARCH), amd64)
	[ -d jpcsp-linux-amd64/lib/linux ] || mv jpcsp-linux-amd64/lib/linux-amd64 jpcsp-linux-amd64/lib/linux
endif
ifeq ($(DEB_BUILD_ARCH), i386)
	[ -d jpcsp-linux-x86/lib/linux ] || mv jpcsp-linux-x86/lib/linux-x86 jpcsp-linux-x86/lib/linux
endif
	dh_install
ifeq ($(DEB_BUILD_ARCH), amd64)
	mv jpcsp-linux-amd64/lib/linux jpcsp-linux-amd64/lib/linux-amd64
endif
ifeq ($(DEB_BUILD_ARCH), i386)
	mv jpcsp-linux-x86/lib/linux jpcsp-linux-x86/lib/linux-x86
endif

