Source: vkquake
Section: games
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>=10),
               libmpg123-dev,
               libsdl2-dev,
               libmodplug-dev,
               libvorbisidec-dev,
               libvorbis-dev,
               libmad0-dev,
               libopusfile-dev,
               libflac-dev,
               libmikmod-dev,
               libvulkan-dev
Standards-Version: 3.9.8
Homepage: https://github.com/Novum/vkquake

Package: vkquake
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         zenity
Description: Quake as Vulkan tech demo
 vkQuake serves as a Vulkan demo application that shows
 basic usage of the API. For example it demonstrates render
 passes and sub passes, pipeline barriers,
 CPU/GPU parallelism and memory pooling.
 It is also meant as a port, which is as authentic to
 the original as possible.
 .
 It is compatible with all mods that run on QuakeSpasm
 like In The Shadows or Arcane Dimensions.
