Source: srb2
Section: games
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               libsdl1.2-dev (>= 1.2.7),
               libsdl-mixer1.2-dev (>= 1.2.7),
               libpng12-dev (>= 1.2.7),
               libglu-dev,
               libosmesa6-dev,
               nasm [i386]
Standards-Version: 3.9.3
Homepage: http://www.srb2.org

Package: srb2
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         srb2-data (>= 2.0.6)
Description: Cross-platform 3D Sonic fangame
 Sonic Robo Blast 2 is a 3D open-source Sonic the Hedgehog
 fangame built using a modified version of the Doom Legacy
 port of Doom. SRB2 is closely inspired by the original
 Sonic games from the Sega Genesis, and attempts to recreate
 the design in 3D. While SRB2 isn't fully completed, it already
 features tons of levels, enemies, speed, and quite a lot
 of the fun that the original Sonic games provided.
